[2017-05-15 12:17] DmitriyMV commented on #539
Can't you use a stub for Out?

Like
[code]

[2017-05-15 12:39] DmitriyMV commented on #497
We solved it using hooks with custom levels and writing the results to the specific destination. Not the best solution, but it works.

[2017-05-15 12:41] DmitriyMV commented on #495
This is used by hooks so they could find out the level at `func (hook *MyHook) Fire(entry *logrus.Entry) error` method.

[2017-05-15 13:05] DmitriyMV commented on #529
Hooks can modify the passed entry, so this will change the current behavior. Maybe we can change the current behavior design? Hooks shouldn't be able to change the passed data IMHO.

[2017-05-18 10:42] domano commented on #543
I am also getting this. We are not using the example in our project. :(

[2017-05-18 12:46] stweiz commented on #543
I have the same problem without using an example.

[2017-05-18 12:49] sirupsen commented on #543
What errors are you getting?

[2017-05-18 12:52] stweiz commented on #543
Sorry, I should post it in my comment! This is the error I am getting. It also occurs, if I fetch the needed libraries (go get)
main.go:11:2: case-insensitive import collision: "github.com/Sirupsen/logrus" and "github.com/sirupsen/logrus"

[2017-05-18 13:45] domano commented on #543
Same here

[2017-05-18 14:15] sirupsen commented on #543
Do you have a dependency that depends on upper-case, or lower-case, and then you're importing the opposite case?

[2017-05-18 14:31] domano commented on #543
As far as i can tell they all use lower-case, except for your examples :)

[2017-05-18 14:45] stweiz commented on #543
This fixes my problem: https://github.com/stweiz/logrus/commit/0ae413d7e0443fffe6fb8e6533de973c1d85b139

I see, that you wrote in your README, that all import paths should be written in lower-case letters, but I recognized, that in the logrus project the first letter is either upper-case, or lower-case.

This problem should be fixed, if the import paths in our projects are all the same. So the fir

[2017-05-18 15:15] stweiz commented on #543
So this should be the correct one: https://github.com/sirupsen/logrus/compare/master...stweiz:issue_543_lower-case-imports

So everyone who uses the library, needs to set their imports lower-case.

[2017-05-19 00:23] brunoksato commented on #543
I don't use example.. error happens yet.

[2017-05-19 07:45] stweiz commented on #543
I have created a pull request: https://github.com/sirupsen/logrus/pull/546

[2017-05-19 12:54] domano commented on #543
With this PR everything would work for us if we change it to lowercase everywhere (which is fine).
The only problem are some "transient" dependencies (specifically https://github.com/Shopify/toxiproxy)  which use the upper-case variant. I opened an issue there.

[2017-05-21 01:20] binarycrusader commented on #515
Since Go 1.4, any third-party Go code should start migrating to using the sys package instead of syscall, per the official Go documentation:

https://golang.org/pkg/syscall/

Notably, some Linux archs such as mips64, platforms such as Solaris, and others have large sets of functionality that are missing from the syscall package.  Because of the continued use of the syscall package, any new platfor

[2017-05-21 11:06] ypatent commented on #543
@sirupsen can we expect to see it merged to the master soon?

[2017-05-21 15:42] sirupsen commented on #543
Are people getting this due to using the test package, and syslog? I created a null logger package that importa lower-case. We cannot just change the casing, as people depend on the upper-case import as well. This is a sticky situation, so we have to tread very carefully. It's possible we should instead take syslog out of core with a lower-case import, and deprecate the package in core.

[2017-05-22 06:19] ypatent commented on #543
@sirupsen we get this from syslog, yeah

[2017-05-22 14:28] clnperez commented on #515
@binarycrusader I'm not sure what you're getting at. Not trying to be snarky -- just genuinely confused. :)

I'm working on getting the legal approval (giant corporations have so many rules) to submit this fix, which I've tested on ppc64le. logrus works fine there.

[2017-05-23 03:53] binarycrusader commented on #515
@clnperez not getting at anything; just supportive of the change since I've encountered the same issue on other platforms.  Thanks!

[2017-05-23 12:20] gravis commented on #451
I'm getting very confused with this. It seems the change is back for good (https://github.com/bshuster-repo/logrus-logstash-hook/issues/32#issuecomment-303195028), could you confirm please?

[2017-05-23 12:23] sirupsen commented on #451
@gravis upper case works fine, but if you are using the examples it may force you to use lower-case—or if you are mixing dependencies that use lower-case and upper-case. We need to converge towards lower-case, because this is a mess no matter how you slice it.

[2017-05-23 12:33] gravis commented on #451
Ok thanks. I have a bunch of hooks to update then, I hope users will understand.
I think I would have fallen in the same trap as you :(

[2017-05-23 12:42] sirupsen commented on #451
Thank you for your understanding @gravis 😢 It's a regretful situation, but I hope as a result people update their dependencies and get the best out of it.

[2017-05-23 13:25] cstockton commented on #451
I think the pain point for this bug is just how subtle it is.. even more so on FS with case folding. It's unfortunate you didn't decide to move to a new repo, everyone could have used both versions side by side and upgraded painlessly. With aliases coming you could eventually nudge people further to the new repo with aliases. Oh well.

[2017-05-23 13:27] sirupsen commented on #451
@cstockton I agree with you, and I am aware of that mistake.

[2017-05-23 13:34] cstockton commented on #451
@sirupsen My point was just that if you agreed with my comment here https://github.com/sirupsen/logrus/issues/451#issuecomment-264319311 then I'm confused why you would start pushing the breaking change months later. But it's your project, thanks for being polite regardless.

[2017-05-24 16:32] kkirsche commented on #107
So the solution should be to use disablecolors?

[2017-05-25 15:08] cirocosta commented on #43
Just in case anyone needs to do something like "write all logs to a file but if a log is > ERR, log to stderr" (which seems to fit this question), here comes an example using hooks:
https://gist.github.com/cirocosta/0ca74af1d9700aad5ec40425ef587640

[2017-05-30 07:24] crazyobject commented on #451
@sirupsen - I changed my gomfile and lowercased it, but still I am getting following error in both cases ( Capital and small ).
```can't load package: package github.com/sirupsen/logrus/examples/hook: case-insensitive import collision: "github.com/Sirupsen/logrus" and "github.com/sirupsen/logrus"```. What should I do now.

[2017-05-30 10:14] sirupsen commented on #451
Why are you importing the example hook?

[2017-05-30 11:15] crazyobject commented on #451
My gomfile have  following line
gom github.com/sirupsen/logrus

But while doing a build it shows above error.

[2017-05-31 09:09] prashantvidja opened #551 "error coming after "make build" command"
Hello

Below error coming when I fire "make build" command
My git version 1.7.12.4 and go version go1.8 linux/amd64
error:
[code]

Help, please...

Thanks

[2017-06-01 06:09] posito opened #552 "Splunk HEC"
Hello,
Logrus is pretty awesome.
Splunk supports something called [HEC](http://dev.splunk.com/view/event-collector/SP-CAAAE6M).

You send the message through HTTP with your token and that's pretty much it.

Is there an option of near future to support it ? Or maybe provide an example on how to send the logs from logrus to a HTTP endpoint ?

[2017-06-01 14:02] gravis commented on #451
what do you think of this? https://github.com/meatballhat/negroni-logrus/issues/28#issuecomment-305216526

[2017-06-01 17:45] sirupsen commented on #451
@gravis I'm concerned that if we start to use `gopkg` too many paths will collide, we already have two alternative paths.. this would give a third 😬 That would be the best thing long-term, absolutely—to give the freedom to iterate on the API.

[2017-06-01 20:52] gravis commented on #451
Hmm, you're right. Ok, so let's move to `sirupsen` then.
Thanks!

[2017-06-02 05:56] posito commented on #552
@sirupsen  could you give a hand **pretty** please

[2017-06-02 10:15] sirupsen commented on #552
@posito you can write a hook for this :)

[2017-06-02 10:15] #552 closed

[2017-06-02 10:16] sirupsen commented on #543
@ypatent we'll have to copy that directory and provide symlinks, then reference logrus with lowercase. I don't want to reference lowercase in core _just yet_.

[2017-06-03 10:26] kitgary opened #553 "Should I use lowercase or uppercase for the package name?"
Hi,

I am using two hooks, https://github.com/rogierlommers/logrus-redis-hook and https://github.com/bshuster-repo/logrus-logstash-hook, one is using upper case while the other one is using lowercase. Therefore I got this annoying error
**can't load package: package github.com/sirupsen/logrus/examples/hook: case-insensitive import collision: "github.com/Sirupsen/logrus" and "github.com/sirupsen/lo

[2017-06-04 11:45] arekkas commented on #451
This is confusing, what's the right way to do this now? In the readme it says:

but it also says:

[2017-06-04 22:55] bscott commented on #543
I'm getting the same today

case-insensitive import collision: "github.com/Sirupsen/logrus" and "github.com/sirupsen/logrus"

[2017-06-05 15:35] robks commented on #553
Having similar trouble with Glide, I'm using logrus with the Postgres hook, and glide is can't load the repo.  Here's my vote for leaving it uppercase, so all dependencies don't break.

[2017-06-05 19:04] tiziano88 opened #554 "Panicf and Panicln do not explicitly panic"
Compare:

[code]

[code]

[code]

Note that it's clear from the code that `Panic` always panics, but not so for `Panicf` and `Panicln`, even though in practice `entry.Logger.level() >= PanicLevel` is always true because `PanicLevel` is currently defined as `0`. I think it would be worth it to make all three explicitly panic, to avoid ambiguities and also enable the compiler potentially do some mor

[2017-06-06 09:21] genez commented on #543
the uppercase variant is still present in the syslog hook, causing build errors. I have manually edited the two files (syslog and test) and I can build correctly

[2017-06-06 18:02] montanaflynn commented on #553
Also hitting this, we've switched to lowercase, filed issues in upstream packages but it's a bit of a mess if they have dependencies that use logrus as well...

[2017-06-06 18:45] robks commented on #543
(Issue #553 is directly related to this).  I am stating the obvious here, and firstly thank you for a great logging package, but when your project is widespread use, or you hope it will be, global changes like these are a big no, no. The community values stability so we can run our production systems without worry.  One reason for Go's widespread adoption is the 1.0 guarantee. In everything we do

[2017-06-06 19:01] sirupsen commented on #543
Lower-case. This has been a mess since my handle was re-named, and the best long-term strategy is that everyone converts to lowercase. There's no turning back, as regretful as that is.

As mentioned in other issues, I failed to realize the implications this would have given Go's package management.

[2017-06-06 19:05] sirupsen commented on #553
We have to converge to lower-case because reverting would break things for people too. Unfortunately, this is messy either way, caused by the author renaming to lower-case. We have to convert everything to lowercase, as regretful as it is.

[2017-06-06 19:06] sirupsen commented on #543
I am terribly sorry for how messy this is. But I truly believe the best option at this point is biting the bullet and going full on lower-case at this point.

[2017-06-06 19:25] n1koo commented on #553
So I ended up working around this by levering `glide` aliasing support. Eg in your `glide.yaml` do :

[code]

the `version: master` is optional but I wanted to make sure I get https://github.com/sirupsen/logrus/pull/547 in

[2017-06-06 19:27] n1koo commented on #543
For `glide` users theres a workaround in https://github.com/sirupsen/logrus/issues/553#issuecomment-306591437 . But remember to PR your dependencies not to rely on this hack for long :)

[2017-06-06 20:39] rohanthewiz commented on #553
As a convenience posting this here for Glide:
Glide has a cache that needs to be busted, so once you update imports to 'sirupsen' to this:
`glide install --force`
FYI: The glide cache is located at `~/.glide/cache`

[2017-06-07 22:28] sagikazarmark commented on #553
I understand that renaming the account was incredibly important (clearly, the difference matters), but since you realized the consequences, can you please tag a new release so that we can stop using the latest master (as you advised us not to do it)?

[2017-06-08 07:26] shuLhan commented on #543
I think in the future we should have a legal age for creating account in Github or other remote repository.

[2017-06-08 15:15] iheitlager commented on #553
Be sure to clear your glide cache as @rohanthewiz is telling us. Renaming is a b!@#$, but yah .....

[2017-06-08 15:37] mattfarina commented on #553
@sdboyer FYI.... when thinking of dep.

[2017-06-08 18:07] sagikazarmark commented on #553
@iheitlager clearing the cache does not help this:

https://github.com/sirupsen/logrus/blob/v0.11.5/hooks/test/test.go#L6

[2017-06-08 18:09] iheitlager commented on #553
well you need to remove the version pinning, i can see master is updated to lower case

https://github.com/sirupsen/logrus/blob/master/hooks/test/test.go

[2017-06-08 18:11] sagikazarmark commented on #553
Well, that's a terrible idea. There are reasons why we version software.

[2017-06-08 18:12] iheitlager commented on #553
don't use version 0.11.5 I would say, that one is not compatible

[2017-06-08 18:18] sagikazarmark commented on #553
So which (preferably newer) version should I use than?

[2017-06-08 18:39] rohanthewiz commented on #553
I'm been fine on this one:

[code]
Hopefully we'll get a semantic release soon.

[2017-06-08 18:52] iheitlager opened #555 "Tag a latest stable release so people can include the organisation case change"
As discussed in #553 some ppl pin on a last stable release, but v0.11.5 is still pre case change in the name. This retains the naming issues.

Please release a latest stable from after the case change

[2017-06-08 20:19] montanaflynn commented on #553
We hit this and were then forced to vendor dependency packages and manually modify them to work with our own packages using logrus. It was easy to make a [PR](https://github.com/akamai-open/AkamaiOPEN-edgegrid-golang/pull/14) changing glide for one of our deps but maybe that actually would be worse for people already using it.

Once dependencies dependencies start mixing things may grow out of han

[2017-06-08 21:05] sirupsen commented on #553
`v1.0.0` has been released, which is the official release that performs the rename.

@sagikazarmark please consider your tone. I understand the frustration, but it doesn't help anything.

I am completely aware this was a mistake, but it's not as simple as "the author renamed because he wanted to cause havoc in the Go community and refuses to revert". Originally, this was attempting to address prob

[2017-06-08 22:22] sagikazarmark commented on #553
@sirupsen sorry for the harsh words, indeed I was quite frustrated about the situation.

Thanks for the release.

As others pointed out, a postmortem blog post might be a good idea, partly to communicate to the world why half of go applications broke down, also to provide a clear picture to Golang maintainers.

[2017-06-09 05:31] iheitlager commented on #555
thanks for releasing v1.0.0

[2017-06-09 05:31] #555 closed

[2017-06-09 19:16] hibooboo2 commented on #553
So what was the reason for renaming to lower case in the first place? I must be lost...

[2017-06-09 20:05] sdboyer commented on #553
@mattfarina thanks for the heads-up. we have an issue for the case sensitivity issues (golang/dep#433); i thought it was going to be horrible and nasty, but after a [long hashing-out in slack](https://gophers.slack.com/archives/C0M5YP9LN/p1492818893205806) a couple months ago it seems like we might have a pretty tight, contained solution for it.

unfortunately, the person i was talking to didn't h

[2017-06-13 14:40] producerism commented on #553
having a really hard time with this - followed the suggestions posted by @n1koo, @rohanthewiz, and others from https://github.com/sirupsen/logrus/issues/543

I've deleted my ~/.glide/cache, removed entries in glide.yaml/glide.lock, ran glide install --force, glide update, even resorted to glide config-wizard. Also removed sirupsen from my go/src/github.com folder

Each time I run glide install (wi

[2017-06-13 15:37] robks commented on #553
(rohanthewiz disguised as a lion). Your best bet until logrus-stack is updated is to fork the logrus-stack repo, make the case change on yours and import from yours.

[2017-06-13 15:50] AkihiroSuda commented on #525
@sirupsen
WDYT? This seems good solution for the sirupsen-Sirupsen issue.

[2017-06-13 19:32] sirupsen commented on #525
It's too late, unfortunately. We can't do another rename at this point :(

[2017-06-13 19:33] #525 closed

[2017-06-13 19:42] producerism commented on #553
thanks, forked and updated to fix. took longer than I'd like to admit to discover the issue, I should have run `glide tree`.

[2017-06-13 22:06] robks commented on #553
`glide list` is a good one also (sorry for the glide advice here, but it might help someone).

[2017-06-14 18:55] smashedtoatoms opened #558 "Testing logger is unable to be used because the package path appears to be invalid."
I am on the latest build and am getting the following error while testing:

```cannot use fakeLogger (type *"redacted/repo/automation/vendor/github.com/sirupsen/logrus".Logger) as type *"redacted/repo/automation/vendor/github.com/Sirupsen/logrus".Logger in field value```

It looks like the package path has the wrong case, but when I manually changed it, it didn't seem to make a difference.  There

[2017-06-15 11:17] AlekSi opened #559 "Is it 1.0 or not?"
README says:

But there is a `v1.0.0` tag. 😕

[2017-06-16 05:36] kaoet opened #560 "Need log rate limitation"
Users should be able to specify the maximum log rate, to prevent the screen be filled with the same log message.

Eg.
[code]

I think it's possible to maintain a separate rate limiter for each `log.Info/Warn/Error` invocation using `runtime.Caller()` and a global `caller position -> rate limiter` dictionary.

[2017-06-16 16:41] gianarb opened #561 "[QUESTION] How can I filter by fields in hook?"
Hello!!

Probably there are similar questions but I didn't find them. I know that I can trigger hook based on LEVEL but how can I filter by fields? I am also happy to filter by fields inside the Hook itself if it's possible from the entry.

My use case has not a high traffic but I am happy to use logs (because they are well distributed in my application) to send events in a time series database.

[2017-06-16 16:43] gianarb commented on #561
I am kind of crazy `entry.Data` sorry about spam :+1:

[2017-06-16 16:43] #561 closed

[2017-06-16 17:18] glibsm commented on #559
The `v1.0.0` tag is a recent development, see #553 for more information.
Looks like the README just hasn't been updated yet to reflect the change.

[2017-06-20 14:44] sirupsen commented on #559
I'll update the README, good eye!

[2017-06-20 14:45] #559 closed

[2017-06-20 14:45] sirupsen commented on #559
https://github.com/sirupsen/logrus/commit/3d4380f53a34dcdc95f0c1db702615992b38d9a4

[2017-06-20 14:45] sirupsen commented on #560
You can do this in a custom formatter/hook.

[2017-06-20 14:45] #560 closed

[2017-06-20 14:46] sirupsen commented on #558
Please update to 1.0.0

See also https://github.com/sirupsen/logrus/issues/553#issuecomment-306591437

[2017-06-20 14:46] #558 closed

[2017-06-20 19:14] smashedtoatoms commented on #558
Perfect, sorry to bother you.  You're doing great work.

[2017-06-27 12:15] tsirolnik commented on #543
Still have the problem... Go 1.8

[2017-06-27 12:29] r3nic1e opened #564 "Error with Entry.writerScanner: token too long"
If you pass too long string (or byte slice) without newlines to *io.PipeWriter, provided by Entry.WriterLevel, you can see errors like this:
 `Error while reading from Writer: bufio.Scanner: token too long`.

Sample code to reproduce this issue:
[code]

This is head of output on my machine:
[code]

This error (ErrTooLong) is set in [Scanner.Scan](https://golang.org/src/bufio/scan.go?s=5433:5462) i

[2017-06-28 06:11] meetme2meat commented on #156
@sirupsen When I'm trying to discard the logs (for testing purpose) using

`logrus.SetOutput(ioutil.Discard)`

It does not work and I still see the error on `STDOUT`.

Any idea ?

[2017-07-03 19:02] ds0nt commented on #553
Here is a generic fix we are using at the time being with glide. It renames all Sirupsen's to sirupsen's under the vendor folder.

In our code we renamed to sirupsen, and then fixed dependency tree problems by including the following after `glide install` or `glide update`

[code]

[2017-07-04 12:16] mkorolyov commented on #554
Actually, `entry.log(PanicLevel, ...)` will panic itself,  so explicit panic here looks excess.

Another question that `entry.log(PanicLevel, ...)` will panic with msg like:
`panic: (*logrus.Entry) (0xddc300,0xc42019e700)` bc of the code inside the `log` func
`if level <= PanicLevel {
		panic(&entry)
	}`

while we have formatted err msg at that place, why it is not used?

[2017-07-04 13:49] dobegor opened #566 "Rename of Sirupsen -> sirupsen caused glide to fail"
This rename caused `glide get` and `glide update` fail because some packages import `github.com/Sirupsen/logrus` (most packages) and some `github.com/sirupsen/logrus`.

Could you please revert this?

In future, I suggest you to move logrus in organization account.

[2017-07-04 13:52] dobegor commented on #566
I.e. https://github.com/Masterminds/glide/issues/863

[2017-07-05 17:55] tgross commented on #564
We've run into this issue in https://github.com/joyent/containerpilot/issues/423. In our case it's happening because we're piping stdout of a child process and can't enforce that we're terminating it with newlines. (It's an end-user error for our project, but we still need to handle it gracefully.)

Looking at the implementation here, I'd argue that simply increasing the token size just pushes the

[2017-07-06 12:10] anirudh-chhangani opened #568 "Configs cannot be set on raw attributes"
I trying ->

`
std := logrus.New()
std.Out = &out
std.Level = level
std.Formatter = formatter
`
where out is : ->

`

	filename := viper.GetString("logging.filename")
	max_size := viper.GetInt("logging.max_size")
	max_backups := viper.GetInt("logging.max_backups")
	max_age := viper.GetInt("logging.max_age")

	out := lumberjack.Logger{
		Filename:   filename,
		MaxSize:    max_size, // megabytes

[2017-07-06 13:04] anirudh-chhangani commented on #568
FYI, I just experimented with [this](https://github.com/anirudh-chhangani/logrus/commit/78300cb347c40710ba51572d8dbb8aa78cf5a52a), still i am not able to set it properly.

[2017-07-06 13:18] arekkas commented on #553
None of the above solutions work for me as well, stuck with a broken `glide update`.

[2017-07-06 13:41] arekkas commented on #553
I was able to get it working, the issue was that I had multiple dependencies that relied on logrus with capital s and that also used glide. I updated the according glide.yaml files and added

[code]

Please note that I am using the https syntax because I use personal access tokens for authentication instead of ssh keys on my laptop. This fix isn't confirmed yet on windows.

[2017-07-06 15:58] galiri opened #569 ""github.com/sirupsen/logrus/hooks/null" removed but readme not updated"
the code example for testing  in the readme is for code that has been removed. FYI

e.g  logger, hook := null.NewNullLogger()

[2017-07-06 20:19] nickhudkins commented on #566
I remember `left-pad` do you? 😆

[2017-07-06 20:29] mcandre opened #570 "Rename back to Sirupsen/logrus"
Ay, a lot of projects are now broken after changing the casing of this project's git repository name. Docker/Moby, for example, can no longer be installed via glide, due to the Sirupsen/logrus 404.

[2017-07-06 21:18] dobegor commented on #566
While I studied the complete history of this (renaming, reverting, then renaming again), I wonder what the hell on Earth would make a developer to do this. I do understand that employee enforce some standard on naming, but it was a long time ago people suggested moving logrus to an organization account and author dismissed it.

Instead of apologies in the README it would make more sense to think o

[2017-07-07 05:56] vearutop commented on #570
Yes, original rename was a perfect failure.

[2017-07-07 06:41] elaijuh commented on #570
Any ETA? I was just gliding again and again and again

[2017-07-07 06:44] vearutop commented on #570
@elaijuh adding lowercase package and `repo` to your `glide.yaml` may fix the problem
[code]

[2017-07-07 06:47] elaijuh commented on #570
i was seeing this

`[ERROR]	Update failed for github.com/sirupsen/logrus: The Remote does not match the VCS endpoint`

[2017-07-07 12:09] dobegor commented on #570
@vearutop it won't help if you are running OS with case-insensitive filesystem (macOS by default and Windows are).

[2017-07-07 12:51] seiffert commented on #531
I think that I'm experiencing the same issue. I'm adding a field with a `"` character in its value and this `"` is not being escaped in logfmt output.

[2017-07-07 15:32] danielkrainas commented on #543
Dealing with this issue on several prod systems now, very frustrating and amateurish

[2017-07-08 20:16] r3nic1e commented on #564
I agree with you, increasing buffer size is not a solution.
We've faced this problem while using containerpilot with healthcheck (same as in mentioned joyent/containerpilot#423) but figured out, that it's not a containerpilot bug.

[2017-07-09 14:20] Luzifer commented on #543
[code]

Well… Fine… When dependencies import dependencies and fuck up your project…

`can't load package: package github.com/Luzifer/dockermanager: case-insensitive import collision: "github.com/Luzifer/dockermanager/vendor/github.com/Sirupsen/logrus" and "github.com/Luzifer/dockermanager/vendor/github.com/sirupsen/logrus"`

[2017-07-09 17:13] sirupsen commented on #566
@dobegor clearly this was a catastrophic failure of a decision. The only real answer I can give you is that sufficient thought was not put into it, due to many other personal obligations. Clearly, if all this information has been in front of me, I would not have pushed forward.

To improve this going forward, I am looking for maintainers for this project and have already engaged with some who are

[2017-07-09 17:24] sirupsen commented on #570
See answer here https://github.com/sirupsen/logrus/issues/566#issuecomment-313932685 as well.

I feel powerless, guilty, and deeply ashamed. I have not worked enough with Go, and thus this decision was not taken with enough care. This is the root of why this has gone awry. At this point, a revert will make things worse. For the record, the original proposal was in this PR: https://github.com/sirup

[2017-07-09 17:27] sirupsen commented on #543
I completely agree that this was amateurish.

Please see https://github.com/sirupsen/logrus/issues/570#issuecomment-313933276 for an extended comment.

[2017-07-10 09:32] #568 closed

[2017-07-10 09:34] anirudh-chhangani commented on #568
My bad, I was importing global logger all along in other packages, which was already set to default configs, I should have opened this issue after proper debugging! sorry.

[2017-07-11 15:46] dmathieu commented on #395
I completely agree with @stevvooe's comment.
Closing this as stale for that reason.

[2017-07-11 15:46] #395 closed

[2017-07-11 15:48] #495 closed

[2017-07-11 15:49] dmathieu commented on #488
Closing this, as it's not a specific outstanding request.

[2017-07-11 15:49] #488 closed

[2017-07-11 15:52] dmathieu commented on #566
You can fix glide as explained here: https://github.com/sirupsen/logrus/issues/553#issuecomment-306591437
Closing this issue.

[2017-07-11 15:52] #566 closed

[2017-07-11 15:58] dmathieu commented on #553
Closing this. The package should be used fully lowercased.

[2017-07-11 15:58] #553 closed

[2017-07-11 16:07] dobegor commented on #566
@dmathieu I mentioned that fix won't help if you are running glide on case-insensitive filesystems.
Reopen this issue, please.

[2017-07-11 16:10] dmathieu commented on #566
You can fix this on case-insensitive filesystems fairly easily.

* Entirely delete the vendorized `Sirupsen/logrus` package.
* Check that into GIT (no need to commit. You just need to `git add`).
* Rename all occurences of the package name.
* Fetch the package again, with the name lowercased.
* Check everything back into GIT.

The rename back into Sirupsen is not something that will happen. Removi

[2017-07-11 21:09] VojtechVitek commented on #570
Ugh, I have big issues even with golang/dep

[code]

[2017-07-11 21:18] dobegor commented on #566
The problem is there are many third-party dependencies that weren't updated that depend on Sirupsen/logrus and didn't vendor it. "Dependency hell is NP hard" (c) rsc.

[2017-07-11 23:00] nickhudkins commented on #566
It's very easy to fix. Reformat as a case sensitive file system. Do you
ever want to deal with it again? Protect yourself. You are a dev, you work
with tooling built for unix (and case sensitivity is a thing) so.....
adjust accordingly.
On Tue, Jul 11, 2017 at 5:18 PM George Dobrovolsky <notifications@github.com>
wrote:

[2017-07-11 23:09] dobegor commented on #566
@nickhudkins
Case sensitivity is part of a filesystem, not a UNIX standard/convention etc.

Also, one of the most popular dev OS - macOS - is case insensitive by default.

[2017-07-11 23:14] nickhudkins commented on #566
Yes, and you too (as a macOS user) can have a case sensitive file system.
The default behavior of macOS is not behavior designed for developers.
There is a solution, that does not require forking of all libraries, that
allow your development machine to be far more similar to your deployment
target. Sounds like a solid plan to me.

Thank you for your correction as to my mis-representation of case
s

[2017-07-11 23:30] kpcyrd commented on #531
@seiffert I wrote a short program to verify the bug is fixed, it appears the behaviour of `%q` is still not correctly duplicated:

[code]

[2017-07-12 05:38] penhauer-xiao opened #579 "Why the entry structure object why not use the pointer, and the direct use of the object"
Entry structure object why not use the pointer, and the direct use of the object, this call will not occur when the object copy?
[code]

When I try to change the object pointer, the test TestEntryPanicln can not pass
[code]

[code]

The error as below:

[code]

[2017-07-12 05:52] #579 closed

[2017-07-12 07:17] dmathieu commented on #531
I've pinged @bbrks, who introduced the QuoteCharacter option in #484 to discuss removing it, as
that option is substentially increasing the complexity of the formatter.

[2017-07-12 07:20] seiffert commented on #531
Hi @kpcyrd,
You're right and I'm able to reproduce this: https://play.golang.org/p/JWfN3X7h3W

I'm not sure what `%q` does internally to be honest. The [docs](https://golang.org/pkg/fmt/) state that it returns "a double-quoted string safely escaped with Go syntax". Almost the same is done by `strconv.QuoteToASCII` which also applies quoting.

With #575, my intention was to fix the quoting issue (q

[2017-07-12 15:06] seiffert opened #582 "Text-Formatter not Quoting non-string Values"
Hi,
I've noticed that all values that aren't `string`s or `error`s are written to the output buffer without any quoting. This causes issues when a value is e.g. a `time.Time` struct:

[code]

From such a log line, logfmt parsers extract fields like `"14:24:59": true` and `"+0000": true` and so on.

Currently, these values are written [like this](https://github.com/sirupsen/logrus/blob/10e5e38b53df

[2017-07-12 15:16] dmathieu commented on #582
Good idea! It would also probably be a good opportunity to use `b.WriteString` and be consistent in that method.

[2017-07-12 16:14] #582 closed

[2017-07-13 11:57] #531 closed

[2017-07-13 11:58] #543 closed

[2017-07-13 15:33] dmathieu commented on #503
This has shipped 🎉

[2017-07-13 15:33] #503 closed

[2017-07-14 11:42] DmitriyMV commented on #539
@dmathieu I think this can be closed

[2017-07-16 21:36] PurpureGecko commented on #539
There is [stub in standard library](https://golang.org/pkg/io/ioutil/#pkg-variables)

[2017-07-17 06:09] kpcyrd commented on #531
After I had some issues with an outdated `logrus.a` (I'm still not good with golang) I could verify the bugfix works for my logging-binary-data usecase :) Thanks!

One more thing that you might want to keep in mind is that the log message and keys are currently not safe. Those are theoretically less likely to contain non-hardcoded data tho:
[code]

Output:
[code]

[2017-07-17 07:46] dmathieu commented on #539
Thank you @DmitriyMV. I'm closing this as there is already a solution available.

[2017-07-17 07:46] #539 closed

[2017-07-17 07:48] dmathieu opened #586 "Keys may need quoting"
From @kpcyrd in #531.

The log message and keys is currently not safe. Those are theoretically less likely to contain non-hardcoded data tho:
[code]

Output:
[code]

[2017-07-17 07:48] dmathieu commented on #531
Thank you @kpcyrd. I've opened another issue with this problem, and will be looking into it soon.

[2017-07-17 17:56] sirupsen commented on #503
🎉

[2017-07-18 13:06] dmathieu commented on #569
Hey,

This logger is now available [here](https://github.com/sirupsen/logrus/blob/master/hooks/test/test.go#L43). So you need to require `github.com/sirupsen/logrus/hooks/test`, but it should still be working.

Note that the readme is requiring the proper package.

[2017-07-18 13:06] #569 closed

[2017-07-18 13:11] dmathieu commented on #551
Hi,

This doesn't appear to be an issue with logrus itself.
It would appear you have two files (`fetch_orm.go` and `insert_orm.go`) which have two different package names.

Go enforces you to have the same package name for all files in the same package.
See https://golang.org/doc/code.html#PackageNames

[2017-07-18 13:12] #551 closed

[2017-07-18 13:13] dmathieu commented on #538
This blue has actually changed in #399.

[2017-07-18 13:13] #538 closed

[2017-07-18 14:06] #108 closed

[2017-07-18 15:54] kedare opened #588 "Use logrus.Logger in httputil.ReverseProxy.ErrorLog ?"
Hello,

I'm trying to use logrus as logger for httputil.ReverseProxy.

It's expecting a log.Logger type, I've been searching without success on how do to that.

Any hint ? Is there a way to get a log.Logger from logrus ?

You can see the type there : https://golang.org/pkg/net/http/httputil/#ReverseProxy

Thanks

[2017-07-19 02:10] sjansen commented on #566
For the benefit of anyone brought here by Google...

solution: https://github.com/sirupsen/logrus/issues/553#issuecomment-306591437
reason: https://github.com/sirupsen/logrus/issues/570#issuecomment-313933276

[2017-07-19 07:34] dmathieu commented on #588
Mathieu,

Unfortunately, I'm afraid this doesn't seem to be possible today.
`log.Logger` is a struct, not an interface. So it can't be anything else than an actual Go logger.

[2017-07-19 10:40] kedare commented on #588
The best way to allow this would be to fix the ReverseProxy type to get an interface instead of the specific struct so ?

[2017-07-19 11:11] dmathieu commented on #588
Basically, yes.

[2017-07-19 11:12] #588 closed

[2017-07-19 13:19] kedare commented on #588
Thanks for the info, I published in issue on the Go repository if you want to follow that :)

[2017-07-19 14:20] dmathieu commented on #521
@sirupsen do you remember what you wanted to add there?
If not, I'll remove the unfinished sentence.

[2017-07-19 14:24] dmathieu commented on #520
Thank you Johnny. I'm adding your link.

[2017-07-19 14:24] #520 closed

[2017-07-19 14:26] #425 closed

[2017-07-19 14:34] dmathieu commented on #496
It looks like this issue has been resolved. Closing.
Please let me know if this isn't the case.

[2017-07-19 14:34] #496 closed

[2017-07-19 14:35] dmathieu commented on #301
This was fixed in #583.

[2017-07-19 14:35] #301 closed

[2017-07-19 15:24] sirupsen commented on #521
What a cliffhanger...

Let's remove that unfinished sentence, I don't think it brings value 👍

Thanks @Bo0mer

[2017-07-19 15:48] #521 closed

[2017-07-19 15:48] dmathieu commented on #521
Thank you for reporting this @Bo0mer

[2017-07-20 03:46] LiuYang1206 opened #590 "How to Load log config from file and output file,function,line number?"
like seelog ,support rollingfile
[code]

[2017-07-20 03:54] LiuYang1206 commented on #590
Nicely color-coded And Field is awesome, i want to repalce seelog in some go projects

[2017-07-20 07:41] dmathieu commented on #590
I'm afraid there is no internal way to load log config from xml. Frankly, that seems weird.

As for rolling your log files, there is no way to do this either. You'd have to implement this in your own package.
But that seems strange too. Your logs really shouldn't be sent to a file. How do you find a request among multiple servers if all logs are on the file system?
See https://12factor.net/logs

[2017-07-21 13:58] #590 closed

[2017-07-22 11:39] #99 closed

[2017-07-24 14:25] dmathieu commented on #142
I'm going to add a :-1: partly because I don't think anyone else against this would say anything here.
If you want to configure logrus from XML, there's nothing preventing you from doing that in another package.

[2017-07-24 14:26] dmathieu commented on #164
@sirupsen could you give a bit more details on this?

[2017-07-24 14:28] dmathieu commented on #175
This has been fixed in 00386b3fbd637582f90cb17482dc3087646c0ac2.

[2017-07-24 14:28] #175 closed

[2017-07-24 14:29] dmathieu commented on #278
This is a duplicate of #167.

[2017-07-24 14:29] #278 closed

[2017-07-24 14:31] dmathieu commented on #367
This has been fixed in #396.

[2017-07-24 14:31] #367 closed

[2017-07-24 16:47] sirupsen commented on #164
I have no idea what this is referring to. Going to close.

[2017-07-24 16:47] #164 closed

[2017-07-24 19:21] gravis opened #592 "Add dates to changelog"
Could you please adopt the recommendation from Olivier Lacan regarding changelogs?

http://keepachangelog.com/en/1.0.0/

(A date would be nice)
Thanks

[2017-07-25 08:21] dmathieu commented on #592
Good idea. We'll make sure to do that for the next release.

[2017-07-25 08:21] #592 closed

[2017-07-26 12:47] #500 closed

[2017-07-26 12:47] #515 closed

[2017-07-27 02:38] AndreKR opened #599 "undefined: windows.Syscall"
I'm on

and even just downloading logrus causes:

I'm pretty sure my Go installation is not modified and according to https://godoc.org/golang.org/x/sys/windows there is in fact no function `Syscall()` in `golang.org/x/sys/windows`. I don't understand where it's supposed to come from.

[2017-07-27 03:23] AndreKR commented on #599
Seriously, I have no idea how this could ever have worked.

The same error happens on AppVeyor:
https://ci.appveyor.com/project/AndreKR/logrus/build/4

@sirupsen I prepared a PR with an `appveyor.yml`: https://github.com/sirupsen/logrus/pull/600. If you would sign in with your GitHub account on https://www.appveyor.com and simply add sirupsen/logrus as a project (no further settings necessary) we

[2017-07-27 04:53] AnotherGoogleFan commented on #599
Yes, I got the same problem as this issue.

[2017-07-27 06:31] AnotherGoogleFan opened #601 "please do not use golang.org/x/sys"
Because of China GFW, it's very hard to go get anithing from golang.org/x/ .
So it's so hard for us who are in China to use logrus if import  golang.org/x/sys.
Old version without golang.org/x/sys works so ok, why need golang.org/x/sys?
We now have to use old version of logrus. So sad.

[2017-07-27 07:48] dmathieu commented on #599
Hum, yeah we removed the usage of `syscall` yesterday, and it seems I broke windows at the same time.
Thanks for the appveyor setup, it looks like a good idea.

[2017-07-27 07:59] dmathieu commented on #601
Going back to syslog means we wouldn't be able to get updates of the package, as it's deprecated.
Also, as much as I like china, I don't think technical decisions should be based on a single country's restrictions.

https://golang.org/pkg/syscall/

[2017-07-27 08:02] dmathieu commented on #599
Looks like the windows API is different from the unix one, when it was the same with syscall.
I don't have easy access to a windows machine. Do one of you want to try fixing this? It should just be updating `terminal_windows.go` to use the right method.

[2017-07-27 10:07] AnotherGoogleFan commented on #601
Yes, I see the reason now. Thanks for answering.

[2017-07-27 10:07] #601 closed

[2017-07-27 11:14] michaelvlaar commented on #599
I've found a solution to fix this problem.

The package `golang.org/x/crypto/ssh/terminal` can be used to detect if the StdErr is a terminal. I'll send a PR to fix this problem in just a minute.

[2017-07-27 18:53] levrik commented on #599
How to fix that temporarily? I'm not able to build a single Go project...

[2017-07-27 19:34] AndreKR commented on #599
It's already fixed, update your dependencies.

[2017-07-27 19:51] levrik commented on #599
@AndreKR Mhhh already did a `go get -u`. Will try again.

[2017-07-28 07:42] #599 closed

[2017-07-28 16:53] AndreKR opened #607 "IsTerminal() being private breaks formatters"
Since #604 was merged, `IsTerminal()` is no longer exported. This breaks (at least) the [`prefixed`](https://github.com/x-cray/logrus-prefixed-formatter) formatter.

At first I was going to open an issue with the formatter, but then I realized that it kind of makes sense for the logging framework to provide the formatter with the information whether it should format for a terminal.

[2017-07-30 10:23] dmathieu commented on #607
IsTerminal, if it were still on this repository, would just be an alias to `terminal.IsTerminal`.
Copying it here therefore doesn't make a lot of sense anymore. Fixing that in the formatter would be the way to go.

[2017-07-30 10:30] #607 closed

[2017-07-30 21:32] AndreKR commented on #607
Actually it's not just an alias because `terminal.IsTerminal()` only works with file descriptors. So the direct replacement for
[code]
would be something like this:
[code]

However, this is less a question of convenience or breaking things but more a question of API.

If logrus recommends doing it with the above code, it implicitly makes the promise (assuming logrus intends to stop breaking builds

[2017-07-31 15:02] pkopac opened #608 "New lines are escaped now"
Hi!
With a recent update I've noticed that my debug data dumps in logs get fully escaped. Previously, I had _nicely formatted_ data `structs` in output (using [spew](https://github.com/davecgh/go-spew)`.Sdump`), so I could actually read them.

**Code:**
* data is a complex data structure with arrays, pointers, many custom types, optional fields etc.
`log.Debug(spew.Sdump(data))`

And now I get:
`(

[2017-08-01 08:35] Depado commented on #63
Any news on this ? 😃

[2017-08-02 14:37] stevejarvis opened #609 "Log Keys of Structs"
This seems to have been implemented in #209, but since unimplemented. Was that intentional? (And if not, can we get struct keys back in the log when a struct is passed as a field?)

[2017-08-03 00:35] TechnicLab opened #610 "Failed to compile to windows"
Failed to compile to windows:

GOOS=windows GOARCH=386 go build <project_name>
\# github.com/sirupsen/logrus
../src/github.com/sirupsen/logrus/terminal_windows.go:78: undefined: windows.Syscall

[2017-08-03 06:55] jinghzhu commented on #63
It's very important to log filename and line number. This can make it easier for engineers to debug.

Could you please let us know whether this feature will be implemented?

Thanks a lot.

[2017-08-03 14:30] Depado commented on #63
I don't know if that's helpful but the prometheus team [did it like this](https://github.com/prometheus/common/blob/master/log/log.go#L234)

[2017-08-03 21:10] ChimeraCoder opened #611 "Data race when adding hooks to non-default logger"
(Similar to #503)

`logrus.AddHook` uses a mutex to guard the standard logger, but when a new Logger is created with `logrus.New()`, there's no corresponding helper function or mutex to guard `Logger.Hooks`.

As a result, we're ending up with a data race in our tests, caused by one goroutine calling `log.Info` and another adding a new hook.

The simplest fix would be to add `func (*Logger) AddHook

[2017-08-04 14:57] ChimeraCoder commented on #611
I don't mind throwing something together in that shape, but please let me know first if that's the approach you'd like us to take here.

[2017-08-04 21:23] AndreKR commented on #610
Duplicate of https://github.com/sirupsen/logrus/issues/599 and already fixed a week ago. Please update your dependencies.

[2017-08-04 22:02] TechnicLab commented on #610
I updated my dependencies and problem resolved. Strongly enough i wasn't able to find #599 on google.

[2017-08-04 22:02] #610 closed

[2017-08-08 09:41] bschwind commented on #570
@sirupsen Don't feel bad. If Go had a reasonable module system and an official package manager this likely wouldn't have been an issue at all. Most languages just don't have these kinds of issues.

[2017-08-09 00:38] ledio commented on #570
ETA on the rename?  Already lost several hrs trying to "migrate" to the lowercase, but no luck so far...

[2017-08-09 14:39] VojtechVitek commented on #570
@ledio there won't be any renaming back, see [this comment](https://github.com/sirupsen/logrus/issues/570#issuecomment-313933276).

Steps to fix your codebase:
- `rm -rf vendor/github.com/Sirupsen/logrus`
- `rm -rf $GOPATH/src/vendor/github.com/Sirupsen/logrus`
- Mass rename `"github.com/Sirupsen/logrus"` imports to `"github.com/sirupsen/logrus"` everywhere in you codebase (verify with `git grep "

[2017-08-10 14:13] mkorolyov opened #615 "Incorrect panic msg during log.Panic()"
have:
[code]
want
[code]
where `some error happened` is msg that was logged.

[2017-08-10 18:28] eberkund opened #617 "Different formatter being used"
I have an issue where in some instances logrus is using `TextFormatter` while in other cases it is using `JSONFormatter`. These calls are happening in different threads so maybe that is the issue but I thought this library was supposed to be thread safe? I did not see any references to the issue I am having in the documentation. Some of the calls are coming from HTTP request handlers if that makes

[2017-08-11 12:50] Astone-Chou commented on #241
"Ideally, all of the Set... and Get... functions should be moved onto Logger methods"

Really! Really! Really! Need to got the lock, plz.

[2017-08-14 13:58] rfyiamcool opened #618 "how to write multi file stdout by logrus module?"
I want to write to different files by log level.

example;

the msg of error level write error.log and all.log

the msg of info level write all.log

[2017-08-14 16:58] rifflock commented on #618
Check out the [LFSHook](https://github.com/rifflock/lfshook) linked from the readme.

[2017-08-15 05:13] IIInsomnia opened #619 "when write to file, need to close by myself?"
[code]

If need to close by myself, when I use log, it needs to open and close frequently in code.

[2017-08-15 17:48] cstockton opened #620 "Another backwards compatibility break propagating through projects: rename logrus_syslog package to syslog - PROPOSAL"
Another pull request .. https://github.com/sirupsen/logrus/issues/108 about nomenclature.. and https://github.com/sirupsen/logrus/pull/587 renames logrus_syslog .. breaking all packages that use it.

[code]

I really am surprised that after the last fiasco with renaming this repo that I am dealing with yet another rename today. This time breaking all dependencies using the "syslog" package in exch

[2017-08-15 17:52] cstockton commented on #620
Oh- and of course I propose immediately reverting #587 before it's propagated into peoples workspaces as they update and really cause a mess. These changes can take a while to emerge as we saw with the last rename so the earlier you revert the less impact in the long run.

[2017-08-15 19:01] sirupsen commented on #620
I think this is a legit concern, @dmathieu what was the motivation for the change?

[2017-08-15 20:06] seiffert commented on #620
Hi @cstockton, thank you for taking the time to write this up.

As one of the maintainers of logrus and the one reviewing the change you refer to, I'd like to add my thoughts on this. Before getting into details, I'd like to repeat that I'm thankful for your input but would also ask you for a constructive discussion. I understand that you're angry about having to change import paths again though.

[2017-08-15 20:59] cstockton commented on #620
Not sure what about my post isn't constructive or what implies I'm angry. As stated I'm surprised to be running into more logrus issues, nothing more or less.

I understand the position and agree that they should, simple fact is that they don't. Many applications, libraries, tools exist that were written long before dep, and predate vendoring as well. I could go on but I don't think the importance

[2017-08-17 08:51] dmathieu commented on #619
Could you describe the actual issue you're facing here?
Having to close opened files yourself is a common Go pattern. You shouldn't need to open and close the file every time, just once when you configure the logger and when the program stops.

[2017-08-17 08:51] #618 closed

[2017-08-17 08:52] dmathieu commented on #241
We'll get to this issue at some point. In the mean time, feel free to open a PR if you want this to be fixed faster.

[2017-08-17 08:52] dmathieu commented on #617
Could you provide us with a simple reproduction of the issue?

[2017-08-17 08:53] dmathieu commented on #615
I see you have pushed a fix to your fork. Do you want to add a test case and open a PR?

[2017-08-17 08:54] dmathieu commented on #611
This will be close by #612. Thank you for the PR.

[2017-08-17 08:56] mkorolyov commented on #615
Hi @dmathieu!
If sir @sirupsen will approve proposed solution, i will.

Also we can format original message with logrus Entry to print struct data too if needed.

[2017-08-17 11:35] dreh23 opened #622 "Feature request: logrus.SetLevel(MuteLevel)"
Is there a simple way to silence output. If not I would suggest a new loglevel: MuteLevel/QuietLevel/SilentLevel.

This log level will skip any output. What do you think?

[2017-08-17 12:05] dmathieu commented on #622
Why do any logging if it's to be entirely silenced?

[2017-08-17 12:06] dmathieu commented on #622
This is also not a standard used anywhere else in Go. For that reason, I'm :-1:

[2017-08-17 12:21] dreh23 commented on #622
My use case would be a command line switch to silence output. This is quite common.

[2017-08-17 12:23] dmathieu commented on #622
You can send all output to `/dev/null` then.

[2017-08-17 12:27] sirupsen commented on #615
@mkorolyov @dmathieu can accept your solution if you open a PR :)

[2017-08-17 12:41] dreh23 commented on #622
I believe a global switch to log inside logrus can be useful without using shellfoo or crippling the logging functionality when you need it. If adding this log level breaks common behavior maybe we can add another switch without touching log levels.

[2017-08-17 18:26] omadawn opened #625 "Per-package/type/function level logging"
I'm coming to Go from Java and miss log4j. One of the biggest components I miss is the ability to have class (or better) level settings. I often want to log at trace level for the small portion of code I'm currently working on but don't want the clutter of all that for any other portion of my application. Or for the code I've included from other people.

This is implemented by loggo https://godoc.

[2017-08-18 08:06] dmathieu commented on #625
Could you share a short code example showing how you'd see this working?

[2017-08-18 15:38] dezza commented on #230
[code]

[2017-08-18 21:03] StarpTech opened #626 "Cant install on windows"
[code]
[code]

[2017-08-21 06:43] kpfaulkner opened #628 "Add reference to new Azure Hook"
Hi

I've created a PR just to update the README to reference a new Hook I've made and have been using. This is to record information into Azure Table Storage.

PR is https://github.com/sirupsen/logrus/pull/627

Hope it's useful.

Thanks

Ken

[2017-08-21 07:31] dmathieu commented on #628
Thank you. Note that a PR is enough, there's no need to open an issue too.

[2017-08-21 07:31] #628 closed

[2017-08-21 07:32] dmathieu commented on #626
Do you have an old version of `x/crypto/ssh/terminal`? Could you try updating it?

[2017-08-21 10:09] sudo-suhas commented on #626
I also faced this issue after updating to logrus `v1.0.3`. I am also able to reproduce the issue in a fresh project:

**glide.yaml:**
[code]

**glide.lock:**
[code]

**main.go:**
[code]

**Error:**
[code]

[2017-08-21 10:11] dmathieu commented on #626
Again (especially since you can't reproduce this on a new project), does the project you're updating has the latest crypto library?

[2017-08-21 10:15] sudo-suhas commented on #626
@dmathieu This _is_ in a completely new project. Additionally, from the `glide.lock` file, you can see that the version for crypto library is [`eb71ad9bd329b5ac0fd0148dd99bd62e8be8e035`](https://github.com/golang/crypto/commit/eb71ad9bd329b5ac0fd0148dd99bd62e8be8e035) which is the latest. I apologise for wrongly assuming that you would be familiar with glide. All I have done in the project is `gli

[2017-08-21 14:50] xandrewrampulla opened #629 "Add Trace level logging"
It would be very convenient if logrus had a TRACE level. There are times when I want to differentiate between log messages indicating where I am in the program vs. the on the wire messages (which can be very large).

[2017-08-21 17:59] cstockton commented on #620
Would the logrus team accept a pull request for this or will the change remain?

[2017-08-22 09:39] dmathieu commented on #626
Looking further into this, it appears to be error only within the terminal package, when calling the [windows one](https://godoc.org/golang.org/x/sys/windows).
Do you have the latest version of that package? What version of Go are you using?

Are you able to use that terminal package outside of logrus?
Sorry for all the questions. But I don't have any windows system available, and therefore cannot

[2017-08-22 09:58] sudo-suhas commented on #626
No problem and no need to apologise 😄. Turns out I did _not_ have the latest version for package `golang.org/x/sys/windows`. The version that glide installed automatically for me was [c4489faa6e5ab84c0ef40d6ee878f7a030281f0f](https://github.com/golang/sys/commit/c4489faa6e5ab84c0ef40d6ee878f7a030281f0f). Not entirely sure why glide installed this particular version. However, there has been activit

[2017-08-22 14:10] #619 closed

[2017-08-22 14:11] #611 closed

[2017-08-22 14:15] dmathieu commented on #608
This is probably because we hardened the string escaping with `%q` instead of the previous unsafe escaping.
See #580

I'm afraid there isn't much we can do here. This could actually be considered as a bug which has been fixed. Being able to send new lines in your log could make them harder to read, and actually reduce the purpose of structured logging, where you would only log specific meaningful

[2017-08-22 14:49] dmathieu commented on #615
All right, I've been looking a bit further into this, and your solution doesn't work because we expect an entry to be sent to panic.
https://github.com/sirupsen/logrus/blob/master/example_basic_test.go#L26

This seems to be so that you can recover from the panic and inspect the full entry.
Though I'd agree that panicking with a struct is weird. So I'd be tempted to say that we should always panic

[2017-08-22 14:50] mkorolyov commented on #615
sorry guys for delay, leak of time, will add PR with formatted msg a little bit later

[2017-08-22 18:27] StarpTech commented on #626
It also fixed it. Thanks all.

[2017-08-22 18:27] #626 closed

[2017-08-22 21:09] dmathieu commented on #626
🎉

[2017-08-24 00:59] cstockton commented on #620
@dmathieu I very strongly disagree.

For every person that complains it was broken and fixed again, there will be much more that report it was broken months from now. If you leave it broken you make sure **every single person** who has it in their dependency tree is affected. If you revert it the people who have been affected by the change are limited to those who upgraded earliest. We have alread

[2017-08-24 00:59] #620 closed

[2017-08-24 01:01] cstockton commented on #570
@dmathieu in case you never saw this thread- you should read through this and look at the timelines to understand the consequences of breaking import paths and the time it takes for them to fully propagate.

[2017-08-24 05:49] AndreKR commented on #607
@sirupsen What's your opinion?

[2017-08-24 09:30] dmathieu commented on #620
Let me rephrase. I, and the other maintainers of logrus ( @seiffert and @sirupsen ) are entirely aware that breaking backward compatibility is entirely shitty.

At this point though, properly working on improving the project will require a version 2.0 which will bring backward-incompatible changes. But we're stuck with it, as we can't bring them to master (they'd be pulled by everybody), and we ca

[2017-08-24 10:52] sirupsen commented on #570
I'm closing this issue.

[2017-08-24 10:52] #570 closed

[2017-08-24 15:55] cstockton commented on #620
@dmathieu If you understand it's undesirable and I've yet to see justification for the change I don't understand why you don't want to revert it? I don't agree that you're options are limited here or that there is the slightest hint of contention while quantifying them. This is what I would do:

1) Revert this change immediately because the longer it exists the more people that will be affected, I

[2017-08-24 19:49] muhilan commented on #403
Please be aware that the suggestion here does not work now with this commit https://github.com/sirupsen/logrus/commit/89742aefa4b206dcf400792f3bd35b542998eb3b

[2017-08-25 00:12] klauern opened #630 "can't `go get` on Windows: undefined: terminal.IsTerminal"
When I delete out the `github.com/sirupsen/logrus` folder and attempt to install it, I get this error:

[code]

[2017-08-25 00:22] klauern commented on #630
Hm, I was able to fix it by wiping out and re-downloading the `golang.org/x/crypto/...` repo.

[2017-08-25 00:22] #630 closed

[2017-08-25 13:41] sirupsen commented on #620
How will moving logrus to another organization not be another case of casegate?

[2017-08-26 00:11] cstockton commented on #620
@sirupsen To clarify by "use the logrus org" I mean specifically to use it for future development while freezing the API for this repository. I don't know what options github has around keeping issues, stars and so on so I don't have an opinion about the semantics of the move. Only detail I think is important is that the repositories are separate and the current repository remains in tact.

Under

[2017-08-27 23:31] eberkund commented on #617
I think it was a mistake on my end and I can no longer reproduce it.

[2017-08-27 23:31] #617 closed

[2017-09-01 10:20] yyscamper commented on #625
I had forked the logrus and implemented the module level logging: https://github.com/yyscamper/logrus#module-level-logging

[2017-09-01 17:32] sdboyer commented on #451
just wanted to let folks who're monitoring this issue know that golang/dep will soon have some more sophisticated reporting around this problem: golang/dep#1079. we can't actually _solve_ it in dep - doing so requires rewriting import statements, which we strictly do not do - but we can guide the user to where the problem is, and to know which projects need issues filed against them to change from

[2017-09-01 18:13] stevvooe commented on #451
@sdboyer Any chance at getting this fixed in the upstream Go compiler? This case is particularly insidious in that they can't actually exist next to each other.

[2017-09-01 20:44] sdboyer commented on #451
@stevvooe depends on what you mean by "fixed"? all the compiler can do is tell you that it's not allowed to have import paths that vary only by case - which it actually does: https://github.com/golang/dep/issues/433#issuecomment-317146614 is that what you meant?

i know i was certainly happy when a contributor pointed that out, as i'd assumed the compiler just didn't care, which meant that dep wou

[2017-09-01 20:52] stevvooe commented on #451
@sdboyer I think the problem here is that there is case insensitivity until there is not. It's been awhile since I've investigated, but, if I remember correctly, the type name ends up being case sensitive, causing the collision.

I don't think dep can do anything here. The compiler would probably have to flatten case for the package paths, but I am unclear on the specifics.

[2017-09-05 14:46] Patagonicus commented on #523
Hi!

I don't think this is a bug, but it's a bit hard to tell without more context. If you don't change it the StandardLogger is set to the InfoLevel, so debug messages are not printed. I have written an example at [Patagonicus/logrus-523](https://github.com/Patagonicus/logrus-523) that shows that behavior. The test method is basically your snippet, but I've also added a method that shows the curr

[2017-09-05 21:31] stevvooe commented on #451
@sdboyer What I mean is that case-sensitivity is not enforced until the user can longer deal with the problem. What is the point in allowing the symbol `golang.docker.io/docker/vendor/github.com/Sirupsen/logrus.Errorf` if introducing `golang.docker.io/docker/vendor/github.com/sirupsen/logrus.Errorf` just causes a compiler error? These should be case-folded much earlier in the process.

[2017-09-06 00:04] sdboyer commented on #451
@stevvooe ok, i'm a bit confused at this point, as it seems like you're trying to convince me of something that we're already doing. maybe we're just talking past each other somehow. because:

yes. agreed. 💯. and disallowing that case is _exactly_ what we're doing, because it causes a compiler error. i've said or alluded to as much in every one of my last three comments, and the links i've already

[2017-09-06 00:20] stevvooe commented on #451
@sdboyer My question has been asking about a whether or not this should be a fix in the Go toolchain (see https://github.com/sirupsen/logrus/issues/451#issuecomment-326649038). There is no point in making the `dep` tool, `go get` and `GOPATH` support case-sensitive import paths when the compiler explicitly disallows it.

Packages with the same name but different casing need to be treated as the sa

[2017-09-06 00:58] sdboyer commented on #451
yes, i saw that, but that doesn't make sense. the go toolchain doesn't _do_ any kind of version selection right now. that's the problem we're fixing in dep. there is no conceivable way of "fixing" this in the go toolchain, apart from moving the responsibility for version selection into the go toolchain, which is the point of dep in the first place.

i don't know why you think anyone is proposing t

[2017-09-06 13:09] dreh23 commented on #622
There is a discussion on [stackexchange](https://unix.stackexchange.com/questions/191254/why-do-many-commands-provide-a-quiet-option) on why quiet/silence flags can be useful. I would like to easily implement a mute switch with logrus.

[2017-09-06 17:47] ernestoalejo opened #634 "App Engine broken in v1 (regression)"
Even if this library is not used directly inside App Engine it is in fact imported multiple times in dependencies we use. It was working previously since #310 added support for it until this commit: e66f22976feaed4e0a6ab43bc2b9226be8b0b979

The only thing standing in the way is `golang.org/x/crypto/ssh/terminal`, which imports `golang.org/x/sys/unix/bluetooth_linux.go` and fails. I refactored the

[2017-09-06 19:23] omar-h commented on #496
Continues to be an issue for me, this is what my console looks like:
[code]

Using Ubuntu on Windows (in cmd) it seems to work, just not in a standard cmd window.

[2017-09-06 19:23] stevvooe commented on #451
@sdboyer

No one said we should fix this with versioning. The problem is that the compiler enforces that only a single casing of a package _import_ exists. I am not sure why you think there is no conceivable way of fixing this in Go. Do you have an analysis showing this? Go does import resolution within GOPATH and there may be a possible fix there that doesn't involve a versioning system.

__The i

[2017-09-07 02:20] sdboyer commented on #451
ahhh, i think i finally see what you're arguing for here. at least, the general shape of it.

my impossibility claim there was based on the assumption that you _were_ talking about doing this via version selection. now that i better understand what you're saying, though, sure - i suspect it's quite possible to do what you're suggesting. it's not clear to me whether it's the right path, though.

i'

[2017-09-07 09:03] hacdias commented on #496
Make sure this isn't checked:

![image](https://user-images.githubusercontent.com/5447088/30155037-b2a111ec-93b3-11e7-9424-1ba78bb2507c.png)

[2017-09-07 12:37] omar-h commented on #496
It isn't, still doesn't work.
![cmd Properties](https://i.imgur.com/OwQPMnZ.png)

[2017-09-07 12:50] hacdias commented on #496
I just checked the code and they removed what I have added. Check this: https://github.com/sirupsen/logrus#formatters

[2017-09-07 16:03] JelteF commented on #608
This makes sense when logging to a log file, but when logging for development this is really annoying. Stack traces that are logged are now unreadable.

[2017-09-07 22:50] stevvooe commented on #451
@sdboyer That is a closer interpretation of what I'm saying.

I think the problem with the `dep` solution is that it won't actually be able to solve the problem if dependencies don't agree on case. The situation is no better or worse than it is today, except we might get a better error message.

Either way, let's shift venues. I'm not sure this is the right place to discuss. I haven't found an iss

[2017-09-08 11:45] mraxus commented on #570
Thanks for being honest and open with your decision @sirupsen. It's not easy being famous =-)

For my company, we have several projects and helper libs that uses this lib. We updated all the libs and projects from upper to lower. Then remove those projects from the go PATH (they'll just be reimported/downloaded when running `go get` again) and that solved it.

[2017-09-08 19:35] nat-brown opened #636 "Escape char printing for double quotes"
I've been logging, using `WithFields` and `Printf`, strings containing double quotes `"`. The result prints the escape character no matter which format I use. Ex: `\"`, `\x22`, `\042`, etc.

I've searched my code for any sign that this was my doing, but the string looks correct up until the time I call my logger. Only my log file contains the escape character.

Example call: `l.Printf("this is a \

[2017-09-15 08:29] bonly commented on #63
+1

[2017-09-19 07:12] ZurgInq opened #637 "Incorrect Line Separator for Windows in text_formatter"
To separate strings, one character is used without checking the current OS

https://github.com/sirupsen/logrus/blob/v1.0.3/text_formatter.go#L123
[code]

[2017-09-21 19:44] WhisperingChaos commented on #118
There are three reasons for implementing ```Output``` method:
- It allows the logger to be embedded in an interface and properly report the package name and line number as the calldepth parameter value can be adjusted to skip over the extra call stack entries due to the indirection of the interface's implementation.
- It promotes seamless integration when configuring logrus output format, as optio

[2017-09-22 19:42] nyarly opened #640 "DEBUG gray invisible in my terminal"
I use a Solarized Light terminal scheme, and the gray color used by TextFormatter is almost invisible.

I'd like to be able to set e.g. LOGRUS_DEBUG_COLOR and have that be respected. Would that PR be accepted?

[2017-09-28 21:32] krancour commented on #403
@sirupsen any chance you could consider re-opening this. I think there are log forwarders or aggregators that will assume messages received on `stderr` are indeed errors and therefore augment the message with text like `ERR` for instance.

A co-worker recently ran into this with Cloud Foundry, for instance:

[code]

Given the prevalence of various container orchestrators and PaaSes and the wide ar

[2017-09-29 19:41] xandrewrampulla opened #642 "JSONFormatter isn't handling functions as Field values"
When using the JSONFormatter, if I accidentally pass a function as a Field value, the entire log message is lost.  It would be better if only that one field was lost (even better would be to log that the field couldn't be translated into JSON properly).

Simple example code
[code]

Current output
```Failed to obtain reader, Failed to marshal fields to JSON, json: unsupported type: func() string```

[2017-10-02 07:27] mcuadros commented on #444
The problem is that with the current implementation you can't add default fields to the standard logger.

[2017-10-02 19:03] subbu05 commented on #543
I am also seeing this error:
go build
vendor/github.com/lyft/gostats/logging_sink.go:3:8: case-insensitive import collision: "github.com/sys-test/vendor/github.com/sirupsen/logrus" and "github.com/sys-test/vendor/github.com/Sirupsen/logrus"

[2017-10-05 17:23] rfay commented on #518
If you want the same format when writing to a file as you have going to stdout, then in the formatter
myFormatter.isTerminal = true

You'll force it to assume that it's connected to a terminal.

[2017-10-06 18:39] skriss opened #646 "add Log() methods to logger that take level as an argument"
I'd like to add methods to the logger like the following:

[code]

to allow for easily setting the log-level of a statement at runtime. I envision these being implemented  on top of the existing API, i.e. as switches on the `level` with each case calling the appropriate underlying method. @dmathieu @sirupsen WDYT?

[2017-10-10 19:22] nyarly commented on #640
For the time being, I've solved this by transitioning to using a dynamic-colors tool, such that my colors are all defined in terms of a 16 color palette.

[2017-10-10 19:22] #640 closed

[2017-10-13 09:49] deepch commented on #489
you can try

type DevNull struct{}

func (DevNull) Write(p []byte) (int, error) {
	return len(p), nil
}

l := log.New(new(DevNull), "", 0)

[2017-10-18 03:56] freman opened #650 "Windows event log hook"
Hi, blowing my own horn here but I have a windows event log hook I'd like to contribute to the project.

https://github.com/freman/eventloghook

Cheers.

[2017-10-20 12:44] xandrewrampulla commented on #629
I added a PR https://github.com/sirupsen/logrus/pull/652 to help.

[2017-10-24 09:36] ahrtr opened #654 "The newline characters in the log message are not processed correctly"
When there are new line characters or any other special characters are in the log message, then they are just displayed as "\n" directly in the log file.  For example,
time="2017-10-23T17:22:27+08:00" level=warning msg="hello1,\nhello2,\nhello3"

It isn't what I want. The reason is that the new lines characters are escaped by the doube quote.  So I'd suggest to enhance the text_formatter so that t

[2017-10-24 10:15] rfyiamcool opened #655 "why logrus use logrotate(8) to log rotation ?"
thank U.

[2017-10-24 19:10] xandrewrampulla commented on #629
I noticed there have been no commits since mid-August.  Is there a roadmap of releases and if so, what can I do to get this feature (with completed PR) into that release?

[2017-10-25 04:37] ahrtr commented on #655
You just need to implement the io.Writer interface,  and then call log.SetOutput(&yourWriter) to set your io.Writer to the log instance.

I believe the following library is what you want,
https://github.com/natefinch/lumberjack

[2017-10-25 08:23] oboote commented on #609
Agreed; I was quite surprised to find logs not replacing struct keys. Wasn't the format meant to be compatible with Printf format?

[2017-10-25 10:18] xor-gate commented on #529
I was also bitten by this one. I had a unit test with multiple goroutines and the `hooks/test` made a copy of the pointer. Then getting the last entry results in a data race because after fire the `entry.Buffer` is modified.

code

[code]

race message:

[code]

[2017-10-26 00:03] adamschmidt opened #657 "logrus in goroutines?"
I know that the theory is that they're meant to be lightweight and avoid sync locks, but are there any patterns/code samples that demonstrate how to use logrus logging in a goroutine?

[2017-10-28 09:02] morriswinkler opened #659 "DefaultTimestampFormat -> defaultTimestampFormat breaks API backward compatibility"
In 325575f18110626a8fd7f027f899aa8c8f5169c6 you unexported defaultTimestampFormat in formatter.go commenting that you fixed a linter suggestion.

I know these damn linters, but sometimes you have to keep a strong opinion about your decisions.

You eventually broke API backward compatibility.  I know of at least one program that suffered from that: github.com/toorop/tmail. Please fix that issue.

I

[2017-10-30 14:22] chenjie4255 commented on #609
+1
It is difficult to tell a field's value without field's name for now.

[2017-11-01 02:24] jrandalldemllo commented on #496
Indeed, commit e66f229 seems to be where it was removed.
Following README's instruction:

`go get github.com/mattn/go-colorable`

Then setting `logrus.SetOutput(colorable.NewColorableStdout())` fixed this for me, in case others were wondering.

[2017-11-01 03:32] Koshatul opened #660 "undefined unix.TCGETS"
Not sure exactly what the issue is here.

When building on linux I get this error
[code]

[2017-11-01 03:33] Koshatul commented on #660
Figured it out, my glide cache on my dev workstation needed flushing, so when I do a glide update and the glide.lock was made, it had an ancient version of golang.org/x/sys/unix.

[code]

and then committed that lock file and all works.

Just an FYI for anyone else with a similar issue.

[2017-11-01 03:33] #660 closed

[2017-11-03 05:16] salvador-dali opened #662 "How can I disable logger in test?"
Tried to use a logger in a particular package.
The problem is that when I test the package I get a lot of logs (which I do not need at all).

Is there a way to disable logging completely in tests? I tried doing something like `logrus.SetLevel(logrus.PanicLevel)` in TestMain, but this only ignores tests below panic level. There is nothing that I have found above the panic level.

[2017-11-03 12:58] chackett opened #663 "Trace log level"
Hello

I am aware that this has been discussed before. It was also mentioned that Trace was not a common  requirement and this an edge case, further, it would confuse some people. I disagree that this is valid.

My use case is that I am working with a feed of financial data that if logged with Debug would be very verbose.

I would like to log with Trace and only enable Trace if I have a specific p

[2017-11-03 14:10] adelowo commented on #662
[code]

[2017-11-05 01:01] #662 closed

[2017-11-06 10:04] maheshdotwaidande99 commented on #637
@ZurgInq You are findings and observation are correct even I am also face a same issue when I try to open log file from notepad but I did not observe  same behavior with modern editors like notepad++ and vim/gvim. Logrus work well with modern editors like (Notepad++/gvim/vim) etc.

I have made appropriate code changes to fix this issue. I wanted to upstream my code changes and here I required help

[2017-11-06 10:51] maheshdotwaidande99 commented on #637
For more reference uploading patch file, so it would be easy to everyone to view changes.
[Patch.zip](https://github.com/sirupsen/logrus/files/1445932/Patch.zip)

[2017-11-07 01:18] ahrtr commented on #637
When there are newline characters included in the log message, then they are just escaped by the double quotes, I raised a similar issue as below,
https://github.com/sirupsen/logrus/issues/654

[2017-11-07 15:14] Xiol commented on #663
I did open a [PR](https://github.com/sirupsen/logrus/pull/198) for this a while back and it was rejected.

[2017-11-07 15:31] chackett commented on #663
That's unfortunate. Respectfully, the authors rebuttal is not valid - users not knowing how to use log levels effectively isn't a valid argument imho.

Your PR fizzled out.. maybe we should have another go at getting it through.

[2017-11-07 15:39] Xiol commented on #663
Seems like someone else has [had a go](https://github.com/sirupsen/logrus/issues/629) more recently as well.

[2017-11-07 16:04] chackett commented on #629
Well, I think that the author is seeking assistance with this project as he has many other commitments. I guess that there is no concrete roadmap as a result.

[2017-11-13 00:38] sh777 opened #668 "Perhaps A New Release?"
When can we have a new release for recent change. A new "addhook" function was committed in master branch from 3 months ago. Since then there was never a new release for it. Therefore this code can't be used in projects which are using go dep as dependency solution.

[2017-11-13 15:42] kaedys commented on #659
Petty sure the golint complaint was just that it was an exported value without a comment.  The solution to that is to comment that value, _not_ to unexport a previously exported (and useful) value.

[2017-11-14 03:38] piyush-nimbalkar commented on #543
I am using `glide up --strip-vendor` which removes nested vendor directory, which results in the import collision
`case-insensitive import collision: "github.com/portworx/torpedo/vendor/github.com/Sirupsen/logrus" and "github.com/portworx/torpedo/vendor/github.com/sirupsen/logrus"`

Although the strange fact is, when I do a `go build` on the code it does not throw this error, it happens only on `g

[2017-11-15 07:26] zhangdaoling opened #670 "how can I set the field order when use jsonformat"
I want set the “time” to the first key。

{"level":"info","msg":"","time":"2017-11-11T14:38:52-05:00"}

[2017-11-16 08:43] rfyiamcool opened #672 "Why don't logrus support logrotate ?"
see title, thanks U.

[2017-11-16 08:50] #672 closed

[2017-11-16 18:08] RenathoAzevedo commented on #63
is there a solution merged to this ?

[2017-11-16 22:51] ChiefBK opened #673 "Multiple Logrus instances for multiple log output destinations"
Is it possible to create multiple Logrus instances so I could output logs in such way that each package in my project outputs logs to different file destinations.

Lets say there are four packages A, B, C, and D in my project. I would like package A to output logs to  path `/logs/A`, package B to output logs to path `/logs/B` and so on. Would I need to use multiple Logrus instances to achieve this

[2017-11-17 00:22] ChiefBK commented on #673
After some research I found log15. It has exactly the functionality I'm looking for using Handlers.

For example you can create a handler like this that will send all logs from my executors module to a given path

`log.MatchFilterHandler("module", "executors", log.Must.FileHandler(filepath.Join(executorsBasePath, "executor.txt"), log.JsonFormat()))`

[2017-11-17 00:24] #673 closed

[2017-11-17 21:30] cmlicata commented on #543
@piyush-nimbalkar, I'm actually having the same issue and it is very peculiar indeed.

[2017-11-18 20:15] pasztorpisti commented on #436
In my opinion logrus shouldn't provide `Logger.Writer` - a generic builtin solution to this problem. Even if it provided one, it should be a completely separate package with building blocks similar to the example below.

Implementing an `io.Writer` that bridges the gap between the standard `log` pkg and `logrus` is straightforward and requires no go routines, pipes or other kind of black magic:

[

[2017-11-18 21:11] pasztorpisti commented on #564
In my opinion logrus shouldn't provide `Logger.Writer`.  Implementing a completely independent `io.Writer` that serves as an adapter/bridge to logrus is easy and the solution is much less complicated than `Logger.Writer`.

I've expressed a similar opinion in another open issue where `Logger.Writer` was used to redirect the standard log into logrus: https://github.com/sirupsen/logrus/issues/436 The

[2017-11-18 22:22] pasztorpisti commented on #118
In my opinion logrus should provide a very simple interface that represents its core feature set in the simplest and cleanest way possible. This is why I wouldn't include utility methods like `Output`.

I've recently mentioned ([here](https://github.com/sirupsen/logrus/issues/436) and [here](https://github.com/sirupsen/logrus/issues/564)) that `Logger.Writer` should also be excluded from the inter

[2017-11-19 03:07] WhisperingChaos commented on #118
I certainly agree with @pasztorpisti that certain logging interfaces/APIs are unnecessarily complex and that one could, as demonstrated by pasztorpisti's post, code around Output's absence.  However, logrus [specifically states](https://github.com/sirupsen/logrus#logrus-) that it's **"completely API compatible with the standard library logger"** and by doing so, a developer can easily replace gola

[2017-11-19 04:17] pasztorpisti commented on #118
@WhisperingChaos Your point is completely valid regarding the claims of the documentation.

Being std log compatible might have some "marketing" related value because "compatible" sounds to be a good/safe choice. However from a technical perspective its usefulness is questionable. Providing backward compatibility interfaces as separate adapters is a better design. And in a lot of cases there is no

[2017-11-19 14:16] pasztorpisti commented on #629
IMO having lots of log levels (eg.: a trace level) is a bad idea.

I prefer turning detailed trace/debug logs on/off with specific switches (bool variable or something similar) only in specific parts of the application instead of controlling this with one global switch (loglevel) that turns on trace everywhere and makes a larger piece of software completely unusable and/or undebuggable.

[2017-11-19 15:05] chackett commented on #629
I'm inclined to disagree @pasztorpisti and in fact how do you implement trace in sub-components if it's not supported at a higher level? I mean to get the functionality of trace, it sounds like you are using Debug.

Component level log levels sounds like a cool _feature_ of your _system_ and potentially even in a logging framework but the levels still need to be supported at a higher level.

To yo

[2017-11-19 15:08] chackett commented on #629
Either way, Logrus is an open project for people to use with different use cases. To add trace would be trivial and in doing so would be enriching the library and cater for a wider audience and requirement set. If you don't agree with the log level, don't use it.

Perhaps I am missing the point..?

[2017-11-19 16:32] pasztorpisti commented on #629
@chackett I'm pretty sure there are programmers who think trace is a good idea (and have some use cases for it) but my guess is that these programmers are a minority. The majority of projects never use or need trace even when it's available. For this reason I treat trace as a narrow purpose feature.

A good library (open source or not) has a simple, unambiguous, focused interface that solves the m

[2017-11-19 16:54] pasztorpisti commented on #670
And another obstacle: [the json marshaler](https://golang.org/pkg/encoding/json/#Marshal) outputs the keys of maps in alphabetical order:

Struct fields are marshalled in declaration order.

[2017-11-19 17:02] chackett commented on #629
Trace doesn't create ambiguity .. it's another log level, which is explained in most good articles that explain logging. :/

[2017-11-19 18:57] brandonryan commented on #657
Check out this example.
https://gitlab.com/brandonryan/example/blob/master/logrus/async_test.go
Basically you want to make a base Entry by using logger.WithField(), and then pass it down to your async functions. Alternatively, you can create an Entry when the function is first invoked.

[2017-11-20 00:55] xandrewrampulla commented on #629
For what it is worth, the way I use trace (and IMO a great use case for it) is to create specialized loggers with a messaging library and log the wire format messages at trace level while logging other less interesting and verbose things (like the endpoints being hit) at debug level.  Being able to distinguish wireformat logs from less verbose, but still debug only messages is extremely valuable.

[2017-11-20 02:09] pasztorpisti commented on #629
@chackett @xandrewrampulla

For me trace is just debug log. Many devs have a similar opinion - I guess their number is higher than average in the go community that often follows KISS principles. [Here is an article](https://gualtierotesta.wordpress.com/2015/11/29/the-5-java-logging-rules/) explaining exactly what I think about trace:

If we wanted to define a line between debug and trace based on

[2017-11-22 18:34] emidander commented on #403
A simple solution is

[code]
and then
[code]

[2017-11-24 14:29] bunyk opened #678 "How to split logs of different levels to different outputs?"
I use logrus and I'm requested to to write info and debug log messages to stdout, and warning, errors fatals and panics to stderr.

Currently I see no straightforward solutions for this, as `Logger` has only one `Out`.

I was thinking about writing writer that parses log message and writes to `Stdout` or `Stderr` depending on it's level, but this could break when log formatter is changed.

So I ch

[2017-11-25 11:15] adelowo commented on #678
Quick now, you can use `ioutil.Discard` instead of writing your custom `NullWriter`

[2017-11-27 20:38] damekr commented on #63
Actually I found a workaround not full but something for this, using package:
github.com/x-cray/logrus-prefixed-formatter

And in code it looks like:
`var log = logrus.WithFields(logrus.Fields{"prefix": "main"})

func init() {
	logrus.SetFormatter(&prefixed.TextFormatter{})
	logrus.SetLevel(logrus.DebugLevel)
}`

After that you just need to add in each package somethink like:
`var log = logrus.Wit

[2017-11-30 02:59] gaoshangs commented on #500
Is this problem solved? I met too

[2017-12-02 22:03] qiuker521 commented on #496
yes, this issue +1,
seems #471 does not work

[2017-12-06 10:08] fallais opened #679 "Lumberjack hook for Logrus"
Hello,

I propose a new hook for Lumberjack : https://github.com/fallais/logrus-lumberjack-hook

[2017-12-06 21:26] mihaitodor commented on #63
@damekr How does that solve the issue of logging the file name and line number?

[2017-12-07 07:20] damekr commented on #63
@mihaitodor Instead of {"prefix": "main"} you can use filename. It is not a full solution as I said, but can help a bit to solve the problem.

[2017-12-07 11:49] mihaitodor commented on #63
Ah, I see. Thanks!

[2017-12-07 11:56] RenathoAzevedo commented on #63
@damekr I'm using  filename. When you say that is not a full solution, what do you mean ?
`filenameHook := filename.NewHook()`
`filenameHook.Field = filenameField`
`log.AddHook(filenameHook)`

`{"level":"info","message":"test","origem":"mobileServer/server.go:65","time":"2017-12-07T09:54:28.449479945-02:00"}`

It works fine for me. Should I be aware of something ?

[2017-12-07 12:44] damekr commented on #63
@RenathoAzevedo No, it's just another way to do that :)

[2017-12-07 12:52] RenathoAzevedo commented on #63
@damekr Thank you, I'm still wating for 'native' solution from logrus.

[2017-12-15 04:22] IkiM0no commented on #227
@luizdepra this saved me a lot of wasted time, thank you!

[2017-12-15 06:45] jjjachyty commented on #609
+1
i want log my struct's keys & values

[2017-12-20 09:53] domgreen opened #681 "Logrus Logger from Context"
I would like to be able to add and retrieve a logger from the context and therefore not have to pass a logger through all function calls but get it off the context when it is needed. Most of the time a logger and its attached fields are request scoped so feels like it fits in well being stored on the context.
Methods for doing this would look something like:
[code]
We currently have an implementat

[2017-12-21 15:16] RenathoAzevedo commented on #636
Yes, I had the same behavior. Any solution to this ?

[2017-12-21 20:34] kirimori commented on #636
I've taken to the incredibly messy use of find/replace for `\"` to `"` when on my IDE. I may someday write a function that cleans up the logs at the end of every test run (these logs are for a test suite), but I haven't thought of a way to solve it in something continuous, like a server log. I still favor the idea of a toggle for the escape printing.

Even a cleanup function is a terrible idea, im

[2017-12-21 20:45] rparulek opened #683 "Logrus logger stops logging and the service hangs when used with syslog hooks"
I am using golang version 1.8 and logrus package to log to local syslog on my system but I am seeing that after sometime logging stops and the service hangs. Is this a known issue?

Here is my logger init method:
import (
        "encoding/json"
        "fmt"
        logger "github.com/Sirupsen/logrus"
        logrus_syslog "github.com/Sirupsen/logrus/hooks/syslog"
)

func init() {
            cus

[2017-12-22 01:58] rparulek commented on #683
@sirupsen is this a known issue or there is something obviously wrong in my logger init?

[2017-12-22 09:30] sirupsen commented on #683
Never heard of this before. What steps have you taken at debugging this?

[2017-12-23 12:43] lt commented on #172
I know this is long closed, but an alternative solution exists on Windows 10

[code]

[2017-12-26 06:15] poldim opened #684 "Email notification subject"
Can you set this as a variable?

[2017-12-27 02:16] IkiM0no commented on #227
@sirupsen @noxiouz , I know this is old and closed, but I ran in to this issue in a little meta-file monitoring app I'm developing that uses Logrus for it's logging. (Awesome package!)

I wasn't satisfied with the copytrucate work-around, nor checking before every write or relying on SIGHUP.

My solution is to add an fsnotify watcher running in a go routine. If it detects a rotation, it sends the

[2018-01-03 14:51] fallais opened #686 "Logrus struct tags for error objects"
Hello,

It could be useful to use struct tags with Logrus. Let me explain.

For example, let's say I use this struct to return error with my API.

[code]

I also want to use log it with Logrus, so I add this line : `logrus.Errorln("Error when getting the weather :", err)` in my code. I do not want to use the `WithFields` because it is sometimes too long.
But it could be great if I could use this :

[2018-01-05 07:36] mclxly commented on #63
@roylou
Alwarys print "...line=189"
![image](https://user-images.githubusercontent.com/1973671/34599548-f13e599a-f22d-11e7-982d-a3987907645a.png)

So I changed one line:
![image](https://user-images.githubusercontent.com/1973671/34599557-08039596-f22e-11e7-9872-c61a6fc9bdfe.png)

Works for me now:
![image](https://user-images.githubusercontent.com/1973671/34599584-1e323322-f22e-11e7-8abc-9ea069984

[2018-01-07 07:45] josegonzalez commented on #634
This can be closed :)

[2018-01-07 11:44] #634 closed

[2018-01-10 06:57] qinzheng opened #688 "question about the log size"
how to limit the log size when writing log to file

[2018-01-10 09:36] Blogoslov opened #689 "[Question]: output to the STDOUT and File at the same time"
Could you please advise how I can write simultaneously to stdout and log file?
Is it possible? From the description, it is not obvious and I can't find correspondent method.

[2018-01-10 18:13] kubistika opened #690 "adding WithStack() function"
I though about that in my projects that are using logrus,
I use to write the stack trace to important logs.
The way I do that now is:
`logger.WithField("stack", string(debug.Stack())`

but that is not a nice way of doing that, because I need to choose a key for that any time I want to add the stack trace to a log entry. I think it would be nice to add a function WithStack(), like WithError()

[2018-01-11 19:53] RenathoAzevedo commented on #689
You should try io.MultiWriter

[code]

[2018-01-11 19:59] RenathoAzevedo commented on #688
There isn't a way to do it with logrus, you should implement  your own io.Writer and then limit the size.

[2018-01-11 20:11] RenathoAzevedo commented on #679
No need for that, You could only:

[code]

[2018-01-12 06:41] fallais commented on #679
Not really, because if you do this, you only log to a file. The hook allows to use logrus the default way **and** logging to a file.

[2018-01-13 11:00] Rhysol opened #691 "how log double quotes to file without backslash?"
The follow string is that I want to log to file:

    {"name": "test", "id": "123xx"}

When I log this string to file , no matter the json format or text format, logrus auto add a backslash('\') before double quotes. like following:
    {\"name\": \"test\", \"id\": \"123xx\"}
But I don't want backslash. How can I remove it?

[2018-01-15 10:22] Blogoslov commented on #689
Great, thank you very much!!!

[2018-01-15 10:22] #689 closed

[2018-01-15 17:43] gibson commented on #689
please add to docs

[2018-01-16 22:45] Random-Liu commented on #463
@stevvooe See you here! :D

@cretz I agree with you. In Kubernetes, we usually have:
* One level for normal production log output (corresponds to logrus `info`)
* One level for test environment output (corresponds to logrus `debug`)
* One level for actual debug, we don't want to log this by default in the log output, because they are too spammy. But we do want to be able to see these logs when we

[2018-01-16 22:55] Random-Liu commented on #629
Here is our use case in Kubernetes https://github.com/sirupsen/logrus/issues/463#issuecomment-358133268

[2018-01-17 02:16] miguelmota commented on #463
+1 for custom log levels

[2018-01-17 04:02] shentaosky commented on #489
Same problem confuse me.

[2018-01-17 09:42] maja42 opened #692 "Writer with fields"
Currently, it is not possible to get a writer from a logger, and log messages with fields.

**My use case:**
I have my own wrapper around logrus.Logger, which stores a list of fields that are automatically attached to each log level. It looks like this:

[code]

Now, when I want to forward log messages from the go standard logging package, I want to set the field "source = golangStd", so that is i

[2018-01-17 14:14] rparulek commented on #683
@sirupsen I am not sure on the debugging steps for this issue because this issue occurs very sporadically in 1 of 10 times and is not very consistent and hard to reproduce. In my monitoring service which uses logrus and syslog hooks to log to local syslog, it hangs forever in 1 of 10 deployments as mentioned above. Also, when I restart "rsyslog" service on my machine; my service starts running aga

[2018-01-17 17:45] dnephin commented on #629
As a compromise, how about adding an `entry.Log()` as an exported version of [entry.log()](https://github.com/sirupsen/logrus/blob/master/entry.go#L91) ?

That way users of the library can add extra log levels if they deem necessary, without adding anything significant to the API?

[2018-01-18 03:53] M2shad0w opened #693 "how to use logrus global"
i want to write log file global, but it seems not work. is there any example?
[code]

[2018-01-18 05:21] #693 closed

[2018-01-18 05:57] M2shad0w commented on #227
@luizdepra @lkiM0no how to put put copytruncate in your lograte config

[2018-01-19 09:20] IMBlues commented on #463
+1
Just like `glog.V(x)`, we could filter out most of spammy log.

[2018-01-22 09:14] songlong opened #694 "logrus.Info output different format messages not found black space"
I found the output can not split by black space?
Excepted:  INFO[0000] Started observing beach 12.6 tttt 1111           animal=walrus number=8
output: 	INFO[0000] Started observing beach12.6tttt1111           animal=walrus number=8
       l := logrus.New()
	l.Formatter = new(logrus.Textormatter)
	l.Level = logrus.DebugLevel
	l.Out = os.Stdout
	l.WithFields(logrus.Fields{
		"animal": "walrus",
		"n

[2018-01-22 15:56] mauricio commented on #683
Could be related to https://github.com/sirupsen/logrus/pull/695

[2018-01-23 16:47] rparulek commented on #683
@mauricio @sirupsen Do we have a fix for #695 ? I am suspecting the same as the description on #695 matches exactly what I am seeing wherein my service seems deadlocked/hung.

Thanks for the pointers!

[2018-01-23 17:16] mauricio commented on #683
@rparulek yes, my PR has a fix for the issue.

[2018-01-23 17:16] mauricio commented on #683
Includes a test as well, if you run the test without the code fix it will deadlock.

[2018-01-23 17:42] rparulek commented on #683
@mauricio Is this expected to be merged soon? Also, when the fix gets merged, should I be updating my vendor library to use "master" or a stable tag would be pulled off to include this fix?

Thanks!

[2018-01-23 18:34] mauricio commented on #683
I don't know, that's up to @sirupsen .

[2018-01-28 01:27] miguelmota commented on #63
Dear logrus maintainers, it's self-evident that the community would like a simple and critical feature such as filename and line number logging to be native in the logrus library. It's much needed and we'd all greatly appreciate this feature. Thanks!

[2018-01-29 21:26] Yugloocamai opened #696 "logrus.SetFormatter should be a member of instance logrus.New()"
logrus.SetFormatter should not be a package-level setting.  A logrus instance can be passed all over an application, and should be carry with it the desired configuration of the application.

[2018-01-29 21:45] Yugloocamai commented on #696
Actually now I'm realizing that logrus.SetFormatter has no effect whatsoever.

[2018-01-29 22:00] Yugloocamai commented on #696
found this in the code
`// Creates a new logger. Configuration should be set by changing `Formatter`,
// `Out` and `Hooks` directly on the default logger instance. You can also just
// instantiate your own:
//
//    var log = &Logger{
//      Out: os.Stderr,
//      Formatter: new(JSONFormatter),
//      Hooks: make(LevelHooks),
//      Level: logrus.DebugLevel,
//    }
//
// It's recommended to m

[2018-02-01 04:20] shahidhk opened #699 "Success logging level"
For applications like CLI tools, Success is an important logging level, along with Info, Error, Debug and Fatal. I had to implement this using a custom formatter and fields.

Is there an interest in adding success as a level? I can work on a PR quickly if this is of interest to the communinty.

[2018-02-02 11:43] gytisgreitai commented on #678
@bunyk have you solved this issue?

[2018-02-02 12:07] bunyk commented on #678
@gytisgreitai Yes, like I described previously and with tip from @adelowo

[code]

[2018-02-03 00:59] spothanis commented on #63
+1

[2018-02-03 13:12] wantg commented on #63
package main

import (
	"encoding/json"
	"runtime"

	log "github.com/sirupsen/logrus"
)

type MyJSONFormatter struct {
	Level string `json:"level"`
	Info  string `json:"info"`
	Msg   string `json:"msg"`
	Time  string `json:"time"`
	File  string `json:"file"`
	Line  int    `json:"line"`
}

func (f *MyJSONFormatter) Format(entry *log.Entry) ([]byte, error) {

	logrusJF := &(log.JSONFormatter{})
	byt

[2018-02-05 12:28] phoenix147 opened #701 "Possibility to delete Hooks?"
Hi!

First, thank you for this awesome logging library.

I've implemented my own hook for transmitting logging information via websockets.
This hook, which forwards the log messages into a channel, is only added, if the web application connects to the backend.

I think it would be best to close the channel and delete the hook after the connection is closed, but it seems this isn't implemented. Is

[2018-02-05 17:08] rparulek commented on #683
@sirupsen Can we merge @mauricio fix for the deadlock in logger issue stated above as we are seeing this in our production environments?

[2018-02-05 17:44] mauricio commented on #683
@rparulek the fix was already merged.

[2018-02-05 20:00] thundercat1 opened #703 "Hooks can have data race with formatter when an entry has been created."
When using the default formatter along with hooks that modify entry.Data, you will get race conditions between your hook and [text formatter](https://github.com/sirupsen/logrus/blob/master/text_formatter.go#L137). This crops up if, for example, you create an Entry by attaching a context field to your logger, then pass that Entry into a series of goroutines.

Failing test & proposed fix: https://gi

[2018-02-07 14:37] rparulek commented on #683
@sirupsen What specific version of logrus should we be using? Can we use master or some tag needs to be used for a stable version?

@mauricio I incorporated your fix locally in my vendor library for logrus, but my service still hangs in some situations while logging to rsyslog. Any particular logs that would help debug further?

Thanks!

[2018-02-10 05:34] halink0803 commented on #63
So any updated on this feature? Is this available now? I walk through comments, it seems nothing is official yet?

[2018-02-12 12:24] paracha3 opened #706 "Who closes the file handler if i use file logger"
Sorry this is not an issue but rather a question.
Just curious if i use the file logger (like the one below), does the library auto dispose file handle or do i have to explicity close it?

[code]

[2018-02-12 12:29] paracha3 commented on #706
Ops i just saw the following. I guess this should take care of closing file handle.

[code]

[2018-02-13 16:38] andytsnowden commented on #696
Why don't you just write a declaration function where you set the format then return a instance?

[code]

[2018-02-13 16:52] andytsnowden commented on #63
@RenathoAzevedo in the example where you mention filename, where is that package? If possible could you post a full example of your solution?

[2018-02-13 17:08] RenathoAzevedo commented on #63
Hello @andytsnowden, I'm using  filename hook from https://github.com/onrik/logrus, It's quite simple to use.

[code]

[2018-02-13 23:58] silverlyra opened #708 "prefixFieldClashes ignores JSONFormatter's FieldMap"
In `TextFormatter`, `prefixFieldClashes` always does the right thing, because it doesn't accept a `FieldMap`. But `JSONFormatter` does.

Updating `prefixFieldClashes` to consult the `FieldMap` resolves the issue.

[2018-02-15 09:22] toni-moreno opened #710 "[bug?] output on Files escape double quotes"
Hi , I'm working with v0.11.0-35-g61e43dc, and trying to debug some xml/json based HTTP responses.

Wiith fmt.Println(httpRespContent) I coud see on the console this ouput.

[code]

While with log.Print(httpRespContent) I have the output with escaped double quotes
[code]

I have also realized that intentation characters \t \n are also interpreted diferent in fmt.Print() and log.Println()

There is

[2018-02-15 10:42] thaJeztah commented on #710
That's not a bug; `log.Print()` wraps the log message in a log-entry, adding additional information about the log-entry; in the output you provided you can see that your original message is put in the `msg` property of the log-entry. That property is a quoted string; since your message also contains quotes, those have to be escaped, otherwise the output would break on the first quote in your outpu

[2018-02-15 13:04] toni-moreno commented on #710
Ok , I've finally fixed changing for these  kind of debuggind logrus by my own writter

https://github.com/adejoux/pSeriesCollector/blob/master/pkg/data/hmcpcm/debug.go

[2018-02-15 13:04] #710 closed

[2018-02-16 16:42] kaedys commented on #696
What?  The package level SetFormatter call sets the formatter for the package global StandardLogger instance.  This is the same instance that is used by package-level logging functions.  Example, `logrus.Errorf()` will use the standard logger, and therefore use the formatter that you provided to SetFormatter.  SetFormatter is ineffective if you're using a custom logger handle returned by `logrus.N

[2018-02-19 23:41] decibel commented on #696
Why would a new logrus instance not support a custom formatter? It seems that assumes the only valid use case for logging is to use the package level logger, which seems unfortunately short-sighted.

[2018-02-19 23:58] rsyed83 commented on #489
Just curious, what would you expect the behavior to be?  I was able to reproduce with logging an Info level Entry, but explicitly setting the logger to Warn:

[code]

The hook hasn't received any Entries (as expected), and its `LastEntry` would be `nil`.

[2018-02-20 07:01] deividaspetraitis opened #712 "Not writing to file"
Hello,

I have encountered with strange behavior I was not able to find explanation for it.
Considering following program:

[code]

The issue is that no matter how many times I will run this program it will log `Application start` only once. After deleting log it creates new file and again writes only single time to it and for the next times when I run this program it will not write to log.

Is it

[2018-02-20 18:01] shahidhk commented on #712
@deividaspetraitis Your application is over-writing the file everytime it starts. You need to add `os.O_APPEND` flag:

`f, err := os.OpenFile("logrus.log", os.O_WRONLY|os.O_CREATE|os.O_APPEND, 0755)`

[2018-02-20 18:03] shahidhk commented on #699
Here is the PR: https://github.com/sirupsen/logrus/pull/705

[2018-02-20 19:45] decibel opened #714 "Unable to use test.NewLocal in vendored environment"
Go has issues with vendored package references (details below). I suspect that passing in an interface that's equivalent to `Logger` would solve this issue. There's other reasons it'd be nice to have interfaces as well (in my case, I'd like to be able to expose only some `Logger` methods; having decomposed interfaces would make that trivial to do).

Unfortunately, this could not be a drop-in repla

[2018-02-21 06:56] deividaspetraitis commented on #712
@shahidhk worked like a charm, thank you!

[2018-02-21 06:56] #712 closed

[2018-02-21 21:17] sanbornm opened #715 "Modify/Remove Hook"
How do you modify or remove a hook during runtime?

[2018-02-23 21:33] gracenoah opened #716 "Optionally remove dependency on golang.org/x/sys/unix without "appengine" build tag"
I'm trying to use [gopherjs](https://github.com/gopherjs/gopherjs) to compile some Go code into JS. It works great for everything I've tried so far except logrus. The issue is that logrus depends on `golang.org/x/sys/unix` through `golang.org/x/crypto/ssh/terminal`. If we can use a compile tag to disable this dependency, that would be awesome.

I see that setting `--tags appengine` does fix the pr

[2018-02-24 20:44] FlorinAsavoaie commented on #678
Could you make a PR? I'd very much like to see this in the core too.

[2018-02-25 14:51] JenneyJ opened #719 "Create custom formater"
Hi,

I've created [this question in stack overflow](https://stackoverflow.com/questions/48971780/go-change-format-of-log-output-logrus).

What I need is formatting like
`[INFO]:2018-02-25 10:42:20 - Starting Process`
There is a simple way to do it ?

I use go logrus and I need to change the format of the output message, I try several of things without success

what I need is format like this with

[2018-02-25 16:36] antonmedv opened #720 "Colorize different rows based on some field"
Hi,

Is it possible to colorize `log.Info` output base of value of `WithField`?

It will be much easier to see.

How example:

[code]

Will be cool to colorize each row based on `uuid` field.

[2018-02-26 07:23] shuge commented on #63
Jesus Christ, it is still doesn't supports a common feature after four years..

[2018-02-26 14:28] IceflowRE commented on #719
Yes, the documentation lacks a bit.

[2018-02-26 19:10] JenneyJ commented on #719
@IceflowRE  - if it possible can you please provide example how to do it ?
or please answer here ?
*https://stackoverflow.com/questions/48971780/go-change-format-of-log-output-logrus
**
Thanks!

[2018-02-27 16:32] darren-west opened #721 "Logrus Hook add fields to an entry."
Hi,
I am writing a Hook, I would like the hook entry to have an extra field appended to it before pushing it on. This is so I can push extra information to a particular destination. I have tried to do this with something like below:
[code]
This does not work because of the way entry.WithFields() works and I end up with an entry with everything set to default. i.e no timestamp and the log level is

[2018-02-28 21:44] #716 closed

[2018-02-28 21:49] stevvooe commented on #714
Moving to an interface won't actually solve this problem. The proposed solution would also introduce a massive compatibility break, so I am not sure that it is tenable.

The problem here is that there are two logrus packages visible in the GOPATH. The trick to fixing this is to removing the vendored items from the dependency and move them to the vendored folder of binary target or bring them into

[2018-02-28 21:49] #714 closed

[2018-02-28 22:00] stevvooe commented on #63
Please keep it civil. I think the maintainers voiced valid concerns and

I have reviewed one or two PRs that propose adding this feature and most seemed to add a cost whether your using it or not. If there is a PR with this functionality, that doesn't create a performance cost, point me to and I'll have a look.

I think https://github.com/sirupsen/logrus/pull/450/ was looking promising, although i

[2018-02-28 22:08] stevvooe commented on #719
You can make a new object that implements `Formatter` (https://github.com/sirupsen/logrus/blob/master/formatter.go#L7). Alternatively, you can embed the existing `logrus.TextFormatter` and override the [`Format`](https://github.com/sirupsen/logrus/blob/master/text_formatter.go#L69) method:

[code]

[2018-03-01 15:29] JenneyJ commented on #719
@stevvooe ,HI
Looks promising,
1. when I try your code I got error `unresolved type Entry`
2. Not enough argument to return `return append([]byte("[lvl]"), f.TextFormatter.Format(entry))`

Can you please assist ? Thanks!

[2018-03-01 16:07] kaedys commented on #696
It...does?  `logrus.New()` returns a `*logrus.Logger`.  The `logrus.Logger` struct has an exported field `Formatter`.  Just set that to whatever formatter you want.  That logger handle will use that formatter, and the standard logger won't.  The package level function _only_ alters the standard logger, not loggers created via `logrus.New()`.

Or is your complaint that you have to set the `Logger.F

[2018-03-02 14:36] bunyk commented on #678
@FlorinAsavoaie I could try, but don't know what @sirupsen will think about this.

[2018-03-03 07:52] shivkumarsingh7 commented on #657
Any working code for logrus with go routines?

[2018-03-04 14:48] JenneyJ commented on #719
@stevvooe  - Can you assist please ?

[2018-03-06 22:19] yoni386 opened #723 "Improve customisation console output"
Hello,

I didn't found a way to add to each output file name and row number and change the time layout and disable keys.

Consider add easier API's to setting those options.

Best regards,,
Yoni

[2018-03-08 06:09] ypapax commented on #63
I am using https://github.com/onrik/logrus as well for printing file names and lines:

[code]
logs look like this:
[code]

[2018-03-08 23:58] dclendenan commented on #63
#450 shouldn't add a cost unless the flag is set to enable the extra data.  There's some cost in gathering the data, but we've been working from my fork in production for over a year now with no issues seen.  I am looking forward to getting back on mainline Logrus someday, though :)

If there's more data desired than what I've added there, we can of course continue to evolve...

@stevvooe I've res

[2018-03-09 12:49] nicpottier opened #724 "Make logrus.Level implement TextMarshaller and TextUnmarshaller"
A small nicety that would allow TOML configuration file that specify logging levels to use a real `logrus.Level` value and automatically get validation that the file is using a proper level. (and saving the user the need to call `ParseLevel` and deal with errors etc..)

Happy to open a PR if it would be accepted, tiny change.

[2018-03-09 22:13] renathoaz opened #725 "Is logrus capable of logging async?"
If so, how can I achieve that?

[2018-03-11 11:08] jinfagang opened #727 "How to using log.Info("%s", s) like?"
Thanks for this lib, I have a simple question:

[code]
Does logrus provide this?

[2018-03-11 15:42] adelowo commented on #727
Use `Infof` instead

[2018-03-11 22:52] sirupsen commented on #683
sorry tagged a new version. v1.0.5 has this.

[2018-03-11 22:52] #683 closed

[2018-03-12 10:02] tubocurarin commented on #715
Browsing the codebase I couldn't see something that allows to remove or even modify them. But I would like to see that feature too, especially good for proper test-hook cleanup. :+1:

[2018-03-12 13:29] darren-west commented on #721
This can be achieved by the following.
[code]

[2018-03-12 13:29] #721 closed

[2018-03-12 22:09] decibel commented on #714
Do you have an example of what you mean by "move them to the vendored folder of binary target"?

Simply moving this to GOPATH isn't a viable option; we can't control that in a cloud foundry deployment, so vendoring is our only option.

BTW, this is actually much worse than I originally reported. Even trying to manually do the equivalent of what test.NewLocal does results in an error, because new(t

[2018-03-13 15:20] fasaxc opened #729 "v1.0.5 breaks hooks that update the Entry"
We've been using a Hook to add line number and file name information to the Entry for a long time.  Unfortunately https://github.com/sirupsen/logrus/pull/707 has broken our Hook.  Since it copies the Entry, our updates to it are lost when the fireHooks method returns.

Our hook used this pattern to avoid mutating the Entry while it may have been read by another thread:
[code]
but that no longer wo

[2018-03-15 11:34] jamesbloomer commented on #690
Some error reporting systems, such as GCP Error Reporting, use the existence of a stack to decide whether a log entry is an error.  Currently we have to do:

`logger.WithError(err).Error("This is an error\n", string(debug.Stack()))`

Which is a bit cumbersome.

[2018-03-19 08:59] pieterlouw commented on #679
@RenathoAzevedo, can you supply an example of how this can be achieved without a hook?

[2018-03-19 23:09] jawnsy opened #731 "Feature request: discard logger"
Hey there,

Thanks for this great library :smile:

My apologies if this was considered and rejected before - I searched the issues but didn't find anything. I wanted to suggest the addition of a new constructor that could create a dummy logger that would discard all logs.

For example, something like:

[code]

Then consuming code could have a reasonable default, e.g.:

[code]

An alternative is to

[2018-03-20 18:53] olemis opened #732 "Separate log level constants"
Logging levels are consecutive integer numbers . By separating them it is possible to easily implement custom solutions for issues like #463 . For a previous reference, notice how default values for Python logging levels are not consecutive .

[code]

p.s. this issue has been created as part of the work done in skycoin/skycoin#858 .

[2018-03-21 08:30] morganchristiansson commented on #681
Duplicates #488 see this comment for solution: https://github.com/sirupsen/logrus/issues/488#issuecomment-300632875

[2018-03-21 11:24] Wang-Kai commented on #691
Do you have an answers ? I met a same issue .

[2018-03-21 11:56] HuKeping opened #734 "Why not put level, time, message into data fields"
Since we will output the key-value pair in `Fields`,  why not put `Message`, `Level` and `Time` into it?

[code]

[2018-03-21 13:33] Wang-Kai commented on #691
I modify it , you can try https://github.com/Wang-Kai/logrus

[2018-03-22 11:07] skaldesh opened #736 "Feature Request: batch logging"
I would like to know if someone has had the same idea already and what you think of it.

Image you are running a standard REST API and you want to log some stuff during every request handling. (Let's say, the type of request, the execution time of different parts of the request, the status code, etc. etc.)
Now, when only 1 request is handled at the same time, the log is coherent and all messages a

[2018-03-26 14:45] gguridi commented on #731
Not sure why the suggestion in [#662](https://github.com/sirupsen/logrus/issues/662) is not enough. I really can't see the value of adding a new constructor in the library when you can do easily:

    logger := logrus.New()
    if !wantLogs {
        logger.Out = ioutil.Discard
    }

[2018-03-26 14:54] gguridi commented on #694
You can specify your own message format, with spaces or other separator using the *f methods:

    ).Infof("Started observing beach %f %s %d", 12.6, "tttt", 1111)

[2018-03-26 15:12] gguridi commented on #734
I think `Fields` is intended to store all the fields set by the user.

However, `Time` is set when the log entry was created automatically, `Level` is specified depending on the method that was called and `Message` is a mandatory string. For me makes sense to separate those three from pure user-defined fields that can be different from one entry to another. When creating a new formatter it's easie

[2018-03-26 15:21] gguridi commented on #732
I honestly think that the problem is Logrus exiting the program when a Fatal error happens. In fact, it's weird that if a Panic level happens (more severe) the program continues.

I think logrus should manage logs, and that's it. If the developer wants to stop the execution at that point then it's their responsibility to do so, but Logrus should never take that decision for you:

    logrus.Fatal(

[2018-03-27 01:45] HuKeping commented on #734
It make sense, thanks @gguridi !

[2018-03-27 01:46] #734 closed

[2018-03-27 11:28] gguridi commented on #691
I don't think this change should be made. The concept of passing a JSON as log message is not right. You don't know who's gonna have to read your log entry, so adding backslashes keeps everyone safe. If we have a JSON with multiple properties, one of them **might** be the message but the others are just fields.

In case to receive a JSON and wanting to add it to the log entry, you can easily write

[2018-03-27 11:38] gguridi commented on #684
What do you mean? Logrus is not able to send email notifications by itself. Are you talking about a hook created by someone else that integrates with Logrus?

[2018-03-27 15:12] gguridi commented on #690
I've added a small pull request because I think it would be a nice to have feature.

[2018-03-27 15:53] gguridi commented on #720
You can create your own io.Writer, using it in conjunction with a coloring library like [fatih/color](https://github.com/fatih/color).

    type MyWriter struct {
    }

    func (w *MyWriter) Write(p []byte) (n int, err error) {
        message := string(p)
       	colorToUse = { function to generate unique colors from uuid, extracted from message }
        return color.New(colorToUse).Fprint(os.

[2018-03-27 16:10] gguridi commented on #686
You can use an intermediary function to retrieve your struct data into log fields:

    func getFields(i interface{}) logrus.Fields {
        b, _ := json.Marshal(i)
        fields := logrus.Fields{}
        json.Unmarshal(b, &fields)
        return fields
    }

    logrus.WithFields(getFields(mystruct)).Info("Something happened")

There's also packages that do that for you. If you generate a map

[2018-03-27 16:19] gguridi commented on #729
Yes, that broke existing functionality and I think allowing hooks to modify entries before other hooks dispatch them is something nice to have as logger.

[2018-03-27 16:21] gguridi commented on #692
I think you need to create a hook instead of a writer. But #729 has to be fixed before you can modify log entries in one hook and expect the change to be propagated to the other hooks.

[2018-03-28 02:33] Wang-Kai commented on #691
I think it is useful in some case .

For example , i want to log every request , fields including trace_id 、ip、UserAgent、request body and so on . So the perfect log like :

[code]

It is comfortable to check every request log. The code maybe like that :

[code]

My request body is JSON like data, so if double quotes prefix with backslash is so ugly in log file . Your solution is so smart, but it o

[2018-03-28 03:18] #720 closed

[2018-03-28 09:09] gguridi commented on #657
Each logger you generate has MutexWrap associated with it, that basically is a wrapper over [sync.Mutex](https://golang.org/pkg/sync/#Mutex). Examples of what it is and how to use it are [here](https://gobyexample.com/mutexes).

Logrus manages the concurrency of goroutines for you using these locks. Well, at least when #703 is fixed. There's no specific "working code" for logrus with go routines a

[2018-03-28 09:44] Charleslvn opened #740 "TestLoggingWithHooksRace"
With:
go1.10 linux/amd64
github.com/sirupsen/logrus 1.0.5

Hello,
I try to build and test your project and it fails with :

Could you help me please ?

Thanks

[2018-03-28 10:09] gguridi commented on #691
Your solution in your last comment is perfect. The problem I see with the pull request is that the changes requested to **meet your needs** are going to affect other users. There's a function in Logrus to detect if the message needs quoting and your change literally disables that (leaving unused code behind as well).

As far as I can see there's two/three options here.

1. The easy one is to creat

[2018-03-28 13:11] gguridi commented on #740
If you installed go from the ubuntu repository or from the [official ones](https://github.com/golang/go/wiki/Ubuntu), none of them contain the files needed to check race conditions.

If you want to build and test it, the only solution is to reinstall go from the official downloads page https://golang.org/dl/

[2018-03-28 13:44] poldim commented on #684
Yes, watchtower uses lights so I was trying to see if this is an option

[2018-03-28 13:57] gguridi commented on #684
The [email hook in watchtower](https://github.com/v2tec/watchtower/blob/05513ddc1e2477ed811f1d94c30e505bf5c86e26/notifications/email.go) is not part of this repository. I'm afraid you will have to open an issue with them regarding how their hook works :S

[2018-03-28 16:47] gguridi commented on #725
I think currently Logrus doesn't support async logging.

Some hooks, however, have implemented their own version. You can create your own hook based on the [logrus-graylog-hook](https://github.com/gemnasium/logrus-graylog-hook#user-content-asynchronous-logger) for further information.

PS.- If additionally you would like the standard error output to be async as well then the solution gets more com

[2018-03-29 15:17] #684 closed

[2018-03-29 15:17] poldim commented on #684
Thanks.

[2018-03-29 21:32] #708 closed

[2018-03-29 22:55] stevvooe commented on #681
https://github.com/containerd/containerd/blob/master/log/context.go provides a nice pattern you can add to each project. Since its orthogonal to the logger, I am not sure about integrating it with logrus.

[2018-03-29 23:00] #406 closed

[2018-03-30 13:27] fallais commented on #686
Hello, thanks a lot. That could do the job !
But I strongly think that my idea could be a great feature for Logrus.

[2018-04-03 07:06] jcajka commented on #740
For the record, I have been able to reproduce this issue on Fedora 28/29 with go1.10. Also I have observed that if you drop the hardening ld flags(relro&co) the issue goes away. That makes me think that this is issue somewhere in between Go and ld.
@Charleslvn Could you please test that removing the hardening flags makes the issue go away for you?

[2018-04-09 09:12] gabiganam commented on #683
Hi,

I just updated to v1.0.5 and it seems that this change **introduced** a deadlock in my case.
I have a hook that writes a log itself, and it's hanging at the entry on the mutex within fireHooks() method.

[2018-04-13 00:37] mlsaito commented on #338
You can display the actual map without having to convert it to JSON:

**Logger:**

[code]

**Result:**

`{"get_parameters":{"from":["verify"],"text":["SampleMessage!"],"to":["819092096281"]},"level":"info","msg":"Request received!","time":"2018-04-12 17:32:48"}`

If you use `logrus.Field{"name": &jsonObject}` it wouldn't display the actual value as @RongxinZhang mentioned.

And if you convert the

[2018-04-16 15:10] twskipper commented on #230
mw := io.MultiWriter(os.Stdout, logFile)
logrus.SetOutput(mw)

[2018-04-17 08:23] gabiganam opened #745 "Deadlock in v1.0.5 due to fix of issue #683"
In the following issue: [https://github.com/sirupsen/logrus/issues/683](url) a change was introduced that causes a deadlock in my code.
I have a hook that writes a log itself (within the Fire method of course), and it's hanging at entry.go, log method, on the mutex within fireHooks() method.

Am I doing something wrong?
The issue is reproducing 100% of the times in my code.

[2018-04-17 17:04] gguridi commented on #745
I think the fix you are looking for is in the issue #703 and pull request #702.

[2018-04-19 13:42] sherryCP commented on #295
I just can't understand that

 **serialized, err := entry.Logger.Formatter.Format(entry)**

 is before

 **entry.Logger.mu.Lock()**

in the following function

func (entry *Entry) write() {
	serialized, err := entry.Logger.Formatter.Format(entry)
	entry.Logger.mu.Lock()
	defer entry.Logger.mu.Unlock()
	if err != nil {
		fmt.Fprintf(os.Stderr, "Failed to obtain reader, %v\n", err)
	} else {
		_, er

[2018-04-19 14:46] sherryCP opened #746 "Data Race in entry.go:128"
https://github.com/sirupsen/logrus/issues/295

[2018-04-20 07:43] nianglao commented on #295
@sherryCP Maybe your problem relates to https://github.com/sirupsen/logrus/issues?utf8=%E2%9C%93&q=Concurrent+map

Please paste more detail info about how to reproduce this case.

[2018-04-20 09:57] gguridi commented on #746
The fix is in the issue #703 and pull request #702. Several users have reported this data race condition. Sadly I don't have permissions to merge that pull request. Let's hope some hero hear thou thy people's cry and merge that :)

[2018-04-20 19:27] inzanez opened #747 "WithFields - Spaces after log message"
Hi

I'm trying to use the 'WithFields' function to supply fields to the log messages. Somehow this introduces additional spaces after the actual log message ('msg'):
[code]
Which results in:

There are 3 whitespaces after 'server'. Looking at other messages there are even more whitespaces. Is there a reason for this? I didn't find any hint in the documentation...

Regards

[2018-04-23 05:11] nianglao commented on #747
Hi @inzanez ,

Logrus default logger "std" use TextFormatter. When output to terminal, TextFormatter will call printColored function in text_formatter.go.
`
fmt.Fprintf(b, "\x1b[%dm%s\x1b[0m[%04d] %-44s ", levelColor, levelText, int(entry.Time.Sub(baseTimestamp)/time.Second), entry.Message)
`
"%-44s" explains your issue.

[2018-04-24 11:12] inzanez commented on #747
@nianglao
Perfect, many thanks for that detailed answer! I will take a closer look at that!

[2018-04-26 07:38] gabiganam commented on #745
Great, now all I have to do is wait for the merge and release of v1.0.6?
:)

[2018-05-02 15:39] jacobwikibuy commented on #732
Then what is the difference between Fatal and Error?

[2018-05-09 13:35] phoenix147 commented on #715
i'd also like to see this feature to remove hooks during runtime, see #701

[2018-05-09 16:55] robertomoutinho commented on #715
+1 for that idea ...
Would be awesome to be able to reload a hook (change its config) without having to restart the application.

[2018-05-09 16:59] phoenix147 commented on #715
Since there is no easy way to add this without breaking the api, i ended up using a logger instance instead of the package level logger and if a restart is needed, i just recreate it and add needed hooks again.

[2018-05-11 23:51] bklau commented on #436
@pasztorpisti I tried your solution. The only thing is that logrus will log all the messages from stdlog "log"  at INFO level. That can make it nosy if you have many warnings or debugs like so:

Note: The "RAFT Internal[INFO] raft" or "RAFT Internal[WARN] raft" is emitted by a std logger to io.Writer from logrus.

Q:  How do i  reconcile the log level of logrus to that of std "log"

[2018-05-12 13:42] dgsb opened #751 "Random segmentation fault while running TestLoggingWithHooksRace"
If we run the test several time we regularly fall on an invalid memory access
[code]

[2018-05-12 14:38] jflyup commented on #654
This so called feature make me go back to std log.

[2018-05-13 08:25] dgsb opened #753 "Travis configuration does not test on latest go version"
We should have at least the 2 last versions (1.9.x and 1.10.x)

[2018-05-13 11:34] dgsb commented on #740
It seems I've duplicated this issue in #751. No big issue, it was an incorrect use of wait group in the test itself. The fix is in #752 waiting to be merged.

[2018-05-13 18:38] dgsb commented on #706
This Close is not applied to the Out field of the logger. You should close the file after the associated logger has been released.

[2018-05-13 18:41] dgsb commented on #727
@jinfagang, you can use Infof or any other <Level>f method but the recommended way is to add a field to your entry.
[code]

[2018-05-13 18:51] dgsb commented on #699
Would not be the Info level a perfect match for this usage ?

[2018-05-15 04:41] #753 closed

[2018-05-18 19:37] anthonyfok commented on #740
@dgsb, thank you for the fix!  We were seeing the same problem in Debian autopkgtest, see https://ci.debian.net/data/autopkgtest/testing/amd64/g/golang-logrus/319614/log.gz
and so I conveniently cherry-picked your fix in #752.

@sirupsen You may probably close this issue too.  :-)

[2018-05-19 03:23] jmrodri opened #757 "release 1.0.5 missing DisableLevelTruncation from text_formatter.go"
Release 1.0.5 (and 1.0.4) do not have the `DisableLevelTruncation` attribute in `TextFormatter`. This field was added back in 2016.

Here is the line in master:
https://github.com/sirupsen/logrus/blob/master/text_formatter.go#L56

Notice in the v1.0.5 version of text_formatter.go there it is gone:
https://github.com/sirupsen/logrus/blob/v1.0.5/text_formatter.go#L29-L60

[2018-05-23 07:41] #740 closed

[2018-05-23 12:05] David-hod opened #759 "logs are sent through closed hook"
we have a hook to stackdriver hook: https://github.com/GoogleCloudPlatform/google-cloud-go/tree/master/logging
We create logger per request by design!.
since logrus asynchronously. if we write a log and then close the hook (i.e stackdriver client). logrus will try to send the message to the hook while it is closed which means we will not see the log on stackdriver and get an error for writing to a

[2018-05-23 12:45] David-hod commented on #759
the issue is in the hook... nevermind

[2018-05-24 05:39] dgsb commented on #523
@robks how did you configure the logger you are using ? At which trace level did you set the logger ?

[2018-05-28 07:19] MrSong0607 opened #760 "How do i know the error information when log to file failure"
when i set the logrus out with a file,and if i close the file,log will fail with "Failed to write to log, write somefile.log: file already closed".
but how can i get the error when logrus write failure,is there have a way like below:
[code]

[2018-05-29 03:04] ictar commented on #729
hello， any update about this issue?  It seems that fix from @fasaxc has not been merged yet.  I use v1.0.5 and meet the same issue...

[2018-05-29 10:31] shahidhk commented on #699
There is not much interest on creating a separate logging level for Success. Hence closing this.

[2018-05-29 10:31] #699 closed

[2018-05-29 23:41] lhauspie opened #761 "Allow log level checking to prevent useless call to logging methods"
To check the log level, I had to read the source code to know if DebugLevel is greater or lesser then InfoLevel.

So it can be intersting to have some `IsXxxxxEnabled` methods on `exported`, `logger` en `entry` like:
- logger.IsDebugEnabled()
- logger.IsInfoEnabled()
- logger.IsWarnEnabled()
- logger.IsErrorEnabled()
- logger.IsFatalEnabled()
- logger.IsPanicEnabled()

Also, to respect the DRY pat

[2018-05-30 07:41] wsw70 opened #763 "Default logging format different across architectures"
`log.Debug("connection OK")` outputs

- `DEBU[0000] connection OK` when compiled on or for Linux/amd64
- `time="2018-05-30T09:38:26+02:00" level=debug msg="connection OK"` when compiled on Windows 10

Is a different default behaviour between systems for the same code something expected?

(apologies if this is obvious - I am just starting with Go, coming from Python and JS)

[2018-05-31 19:01] neilisaac opened #765 "TextFormatter uses hard-coded logfmt field keys"
Some logging services (ex. LogDNA) parse specific field names (ex. "message" and "level") so it would be very useful to configure the logfmt formatter to use specific keys, similar to the json formatter.

Proposed fix in https://github.com/sirupsen/logrus/pull/677

[2018-06-06 19:34] lepinkainen commented on #763
logrus is not detecting a TTY on Windows, so it defaults to TextFormatter.

[2018-06-07 06:27] dgsb commented on #668
v1.0.5 has been released since this issue has been opened.

[2018-06-07 06:27] #668 closed

[2018-06-07 12:12] spiderpoison opened #766 "About github.com/heirko/go-contrib/logrusHelper dependence"
Why "github.com/heirko/go-contrib/logrusHelper" depends "github.com/heralight/logrus_mate", but not the "github.com/gogap/logrus_mate"?

now i have duplicate logrus_mate, "github.com/heralight/logrus_mate" and "github.com/gogap/logrus_mate". I am confused

[2018-06-12 13:29] spiderpoison opened #767 "I want to change sequence of msg and keys, what should i do?"
TextFormatter will print msg firstly, then print keys.
![default](https://user-images.githubusercontent.com/7857870/41293354-a087c668-6e87-11e8-8e11-25d80a705565.png)

But i want to print keys firstly, what I can do?

[2018-06-13 01:28] wjzhangcsu opened #768 "How to send logs to elasticsearch?"
I want to send logs to elasticsearch. I have attempted to use sohlich/elogrus,but it do not work really.Is there a way to send logs to elasticsearch?

[2018-06-15 06:26] lyfunny opened #769 "why log.*ln not add a blank line at the end"
but Add spaces between the parameters， log.* do this too ,  I don't know the difference between them

[2018-06-15 15:46] dgsb commented on #767
Beyond writing you own Formatter there is not much you can do there. You could embed the TextFormatter in your own formatter and just rewrite the Format method

[2018-06-15 15:49] dgsb opened #770 "Add a custom key sorting function to the TextFormatter"
Several already have asked for specific position for msg or timestamp in the TextFormatter with respect to the key position. Adding the possibility to give a custom comparison function to sort the keys would allow users to place the way they want any keys in the formatted output.

[2018-06-15 15:49] dgsb commented on #767
We could solve this issue by implementing #770

[2018-06-15 15:52] dgsb commented on #523
Closing due to no feedback, probably a misconfiguration.

[2018-06-15 15:52] #523 closed

[2018-06-20 03:38] spiderpoison commented on #767
ok, thanks

[2018-06-20 03:52] #767 closed

[2018-06-20 12:30] mildred opened #773 "Add ability to set prefix, or set some fields to be displayed before the others in TextFormatter"
Having the ability to set a common prefix to a set of logged lines can be useful to visually group several lines together in a log file. The standard `log` package has a `SetPrefix` function that is quite useful.

Perhaps logrus should support the same function for parity with the `log` package.

Perhaps instead logrus should use the notion of fields it has, and a field could be configured to be s

[2018-06-20 22:08] bitc opened #774 "Agree upon a common JSON format with other structured logging frameworks"
Hi! I've recently become more interested in structured logging, and have looked into a few structured logging libraries.

You get amazing power when you dump the logs from all of your different systems and sources into a centralized log store, and can then view and analyze them as one whole.

What I've noticed though is that the various structured logging frameworks all save JSON log entries in si

[2018-06-21 04:41] paralin opened #777 "GopherJS build tags are incorrect"
The tag is "js" not "gopherjs"

Fix is in #776

[2018-06-21 15:39] dgsb commented on #773
Would not
[code]
answer this use case ?

Regarding the field order, this issue is already opened #770

[2018-06-25 23:05] bhouse1273 commented on #768
You might try https://github.com/tsaikd/gogstash

[2018-06-26 19:40] sbrisson2 opened #778 "Allow user-defined entry.Time"
Hi,

I'm currently writing a wrapper to go around logrus loggers.  This wrapper stores all logs in memory until it is explicitly flushed, at which point it logs to the underlying logger.  The intended use case is in tests, where I'm only interested in the logs for tests that fail.

The problem I'm having is that I would like the timestamps in the logs to reflect the time at which my program logs t

[2018-06-26 21:43] pmoust commented on #125
Rel: PERF: use buffer pool in json formatter #755

[2018-06-28 07:56] Blogoslov opened #780 "[Question]: Strange output to file in case of io.MultiWriter"
Hello, I use io.MultiWriter to be able to see logs in the console and in the log file.  As a solution, I use this approach which was recommended here.

Here is my example for reproducing:

[code]

As a result, I see a nice colored output in the console, but this is what I see in the file:

So I see non-readable strange symbols which wrap the level.

How to avoid this strange behavior?

[2018-06-29 18:23] dgsb commented on #778
For your use case, you can use a dedicated field for your initial timestamp.

[2018-06-29 20:20] sbrisson2 commented on #778
That is a possible solution, however it also requires us to have special handling for the custom field, either in our formatters, or in our log consumers.  I hope you can see why this is sub-optimal for us.

[2018-06-30 13:48] dgsb commented on #780
Those strange are tty escape sequence to produce colors on the terminal. With the current implementation you can not have both color in the terminal and clean output in the file.
If you want to have clean content in your file you should configure your formatter by setting ForColors field to true and DisableColors to false.

[2018-07-01 17:20] lbyte00 commented on #13
@sirupsen hi, I couldn't find anything about the question that I have. Do hooks have some running sequences or they run randomly? For example, if I want to modify an entry in one hook, what If there's already 'fired' hooked with the unmodified yet entry?

Currently, I want to solve the problem with sensitive information inside logs and to do so I need to modify the entry and the only general way t

[2018-07-03 18:38] #774 closed

[2018-07-03 20:31] berniedurfee-ge commented on #608
Yes please on this one. Having a switch of some sort would be very nice.

[2018-07-04 05:08] dgsb commented on #766
Hello @spiderpoison, it seems one is a fork of the other. I don't know why they did switch the dependancy to the forked one. In order to have further information, I suggest you to open an issue in their repository.

[2018-07-05 08:56] #766 closed

[2018-07-09 15:31] betrok commented on #715
Related(somewhat) pull request: #782
With exposed lock it will be possible to safely modify the Hooks slice.

[2018-07-10 08:08] UnAfraid opened #784 "Logrus Formatter per output?"
Hello,

I wanted to set TextFormatter for stdout and JsonFormatter for file output, is that possible?

Here's my logger initialization
[code]

I am logging into Stdout and log file
The problem is that it output color chars are getting inside the file as well..

`[36mINFO[0m[04 Jul 18 17:12 EEST] Initializing `

[2018-07-10 09:46] UnAfraid commented on #784
Solved by using hooks:
[code]

[2018-07-10 09:46] #784 closed

[2018-07-10 10:04] UnAfraid commented on #780
I've just resolved similar problem https://github.com/sirupsen/logrus/issues/784

[2018-07-12 08:59] maja42 commented on #692
Is logrus still being maintained?

[2018-07-13 16:55] Niondir commented on #63
I would also appreciate this feature (as everybody else does) there are so many proposals and pull requests. Whats actually blocking this issue?

Are you just afraid of cross platform bugs?

[2018-07-14 06:30] dgsb commented on #778
Fixed by #781

[2018-07-14 06:30] #778 closed

[2018-07-18 10:49] templarzq opened #789 "Entry parallel write panic"
entry.go:

func (entry *Entry) write() {
	serialized, err := entry.Logger.Formatter.Format(entry)
	entry.Logger.mu.Lock()
	defer entry.Logger.mu.Unlock()
	if err != nil {
		fmt.Fprintf(os.Stderr, "Failed to obtain reader, %v\n", err)
	} else {
		_, err = entry.Logger.Out.Write(serialized)
		if err != nil {
			fmt.Fprintf(os.Stderr, "Failed to write to log, %v\n", err)
		}
	}
}

shoud it be like th

[2018-07-18 12:31] rws-github commented on #553
I have added the glide solution earlier on the thread but I get the following:
[code]
Anyone know the solution?

[2018-07-19 00:24] quentinlesceller opened #790 "[Question] Logger with two backends and different levels"
Hi everyone,

Basically I would like to do approximately the same as mentioned [here](https://stackoverflow.com/questions/38208608/go-logging-to-multiple-output). Copy pasting for readability.
Basically my main code would be:
[code]

I can see the console prints:

[code]
And a file with:
[code]

I managed to have the same content in both console and file (with a hook with https://github.com/rifflo

[2018-07-20 19:48] Varunram opened #793 "[Question] Preserving colors after setting output"
Right now, setting output to `os.Stderr` using `log.SetOutput(io.MultiWriter(os.Stderr), logfile)` resets the colors and stuff printed to the command line, is there any way to print colors in the command line and at the same time, write to a log file? Any help much appreciated, thanks!

[2018-07-21 05:35] dgsb commented on #789
You're probably right. Can you provide that as a pull request so that the test suite can run on your modification ?

[2018-07-21 07:04] #729 closed

[2018-07-21 07:07] dgsb commented on #729
Hello this logrus issue should be fixed on master branch, let me know if everything works as expected.

[2018-07-21 07:12] dgsb commented on #692
Yes it is, we have fixed #729 in #764

[2018-07-21 08:17] dgsb commented on #553
I don't have the whole history. But today the package should be named all lowercase and if an importing package use some uppercase it should be fixed.

[2018-07-21 08:53] dgsb commented on #692
Hello @maja42, I think I don't get it. Can't you use the `Entry` returned by the `WithFields` method to then add dynamically the `source` field when needed ?

[2018-07-23 11:42] dgsb commented on #789
Duplicate of #703

[2018-07-23 11:42] #789 closed

[2018-07-23 19:57] #706 closed

[2018-07-23 20:02] dgsb commented on #760
There are no errors returned from the top level api. If you have an error writer on the out writer a trace on stdout will be issued. You should not close the out file associated with a Logger.

[2018-07-23 20:07] #727 closed

[2018-07-24 03:04] MrSong0607 commented on #760
in some situation,i need to close the log file,such as i open one log file for each user,i should close the log file when a user's operation done

[2018-07-24 05:36] dgsb commented on #63
I will have a look at this pr soon.

[2018-07-25 01:37] MrSong0607 commented on #760
i know i can do it this way , but since there have a error in log function,why not return this error

[2018-07-25 10:38] dgsb commented on #760
logrus initially try to keep a compatible interface with the standard log package which does not return error code either. Most of traces also happen while handling, adding an error handling in an error code branch may add too much complexity.
Also I don't see any good reason to handle an error which can be totally avoided.

[2018-07-26 00:54] MrSong0607 commented on #760
ok,thank you

[2018-07-26 10:14] #760 closed

[2018-07-31 09:46] soyking opened #795 "Entry from sync.Pool keeps the old data"
In this program I added a hook working in info level, and it add a field:

[code]

And the output is:

[code]

But there was still a `tag` field when I print error log. I found that the entry object reused from a pool in https://github.com/sirupsen/logrus/blob/master/logger.go#L79. But it didn't clear Data when it put back in pool or got from the pool. Is it a bug?

[2018-07-31 11:32] dgsb commented on #795
If the data is not cleared upon entry release, it is indeed a bug.

[2018-07-31 11:41] dgsb commented on #795
The bug is confirmed and is present since at least v1.0.0, thanks a lot for your contribution.

[2018-07-31 16:13] #795 closed

[2018-08-01 08:15] cavanwang opened #797 "support not escape html char as normal(<,>,&)"
Test version:
v1.0.6

TestCode:

import "github.com/sirupsen/logrus"
func main() {
  var mylog = logrus.New()
  mylog.Formatter = &logrus.JSONFormatter{}
  mylog.Errorf("< or > or &")
}

Output:
{"level":"error","msg":"\u003c or \u003e or \u0026","time":"2018-08-01T15:54:44+08:00"}

Expected:
{"level":"error","msg":"< or > or &","time":"2018-08-01T15:54:44+08:00"}

Other:
I have known about that j

[2018-08-01 08:25] #797 closed

[2018-08-01 08:38] cavanwang commented on #797
golang v1.6 has no new json Method `SetEscapeHTML`

[2018-08-06 16:11] theckman opened #799 "[Maintenance] The Gofrs would like to adopt logrus"
Hi @sirupsen,

A few of us over in the Go community have [started a bit of a working group](https://medium.com/@theckman/keeping-important-go-packages-alive-5242917f83e8) to share the work of maintaining projects that are extremely important to the Go ecosystem. It goes without saying, logrus is absolutely one of those.

We've opened up a way for the community to suggest projects to adopt and logr

[2018-08-06 21:25] jpiechowka commented on #679
@phoenix147 Thank you very much! Your solution works great. I have my logger configured as below:

[code]

[2018-08-07 13:00] franciscocpg commented on #799
hi @sirupsen

I understand your worries and it totally makes sense. I was one of many affected by the `lowercasegate`.

My suggestion is to have an hard fork at https://github.com/gofrs/logrus that starts with version v2. Then we update the README of https://github.com/sirupsen/logrus explaning that this repository will not be maintained anymore pointing to https://github.com/gofrs/logrus

So v1 w

[2018-08-07 13:32] sirupsen commented on #799
If we do this, we could certainly discuss some breaking changes for few users (e.g. getting rid of formatters, and just make them hooks) as part of the transition.

If a repository is importing both `sirupsen/logrus` (through a dependency) and another dependency `gofrs/logrus`, is there absolutely no way they can conflict even if the package is called the same thing?

[2018-08-07 16:16] franciscocpg commented on #799
:+1:

AFAIK this is a problem only if one file (not a repository) is importing both. Even doing so it's possible to do something like:
[code]

Also, from https://golang.org/doc/code.html#PackageNames:

[2018-08-07 16:42] himanshug commented on #608
Another use case I have where I am printing json serialized objects in the debug logs. In the printed json, all double quotes are escaped too making it totally unreadable.

[2018-08-07 22:28] theckman commented on #799
Hey @sirupsen,

Thank you so much for getting back to me. We really appreciate it.

I think we can both agree that keeping `logrus` functional and avoiding friction is our top goal. If we cause too much of a headache, what's the use in even maintaining something if people won't adopt it?

To your comment about an organization migration, that actually isn't too disruptive as GitHub will redirect us

[2018-08-07 22:41] franciscocpg commented on #799
@theckman
To be honest I don't have a deep knowledge about how github migrations works.
As you said that github takes care of redirects I think that's a good option.

[2018-08-08 16:10] dgsb commented on #799
Hello, I could not find any documentation for migrating a repository from a user to an organization. Could someone post here a documentation referencing the process of such a migration ?
Currently, logrus is directly imported by several thousands other packages, I don't think it is realistic to plan a migration if the import path has to change.

[2018-08-09 15:43] theckman commented on #799
I believe these are the docs you're looking for:

- https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/

This article also mentions the one limitation I called out a few messages above:

This means that so as long as a new `logrus` repo isn't added to the `sirupsen` user on GitHub, they will redirect requests to the new location. I have seen `go get`, and oth

[2018-08-09 15:58] mattouille commented on #799
Just an idea for backwards compatibility, couldn't a mirror be setup for the old repo to the new repo? This would make sure inattentive users can still get logrus without thinking it's been abandoned.

[2018-08-09 17:52] franciscocpg commented on #799
In https://github.com/sirupsen/logrus/issues/799#issuecomment-411803347

This seems so fragile. What happens if `sirupsen` created a new logrus repo by mistake or just because he wants?

[2018-08-09 17:59] theckman commented on #799
@franciscocpg if he's aware we have moved the repo and he shouldn't create a repo with the same name, what do you believe the likelihood that it'll happen? Do you think it would happen without that person engaging the people who moved the repo first?

To provide some context, looking at this issue, and the project in general, it's clear to me that Simon cares about people's ability to use the pack

[2018-08-09 20:05] theckman commented on #799
@franciscocpg I think it was a great question to ask, and I didn't personally read it as a judgement of character. I was only hoping to share my context as to why I didn't perceive it as being too risky as a long-term _option_.

[2018-08-10 17:52] franciscocpg commented on #799
Another thing that comes to my mind now:
This also means that @sirupsen would be prevented from forking `gofrs/logrus` repo.
Wouldn't it be a problem?

[2018-08-11 09:57] tamago-cn opened #801 "Caller level diffrence between log.Info and log.Infof"
when I print a line number to a log file，log.Info and log.Infof print diffrent file position, such as

2018-08-11 16:57:26 [proc.go:198] [INFO] info without format
2018-08-11 16:57:26 [demo_log.go:17] [INFO] info with format

I resolved that by modify exported.go like:
// Info logs a message at level Info on the standard logger.
  func Info(args ...interface{}) {
      **func() { std.Info(args...)

[2018-08-13 13:41] dolmen opened #802 "CHANGELOG.md is outdated"
Release v1.0.6 is documented in [GitHub releases](https://github.com/sirupsen/logrus/releases), but not in [CHANGELOG.md](https://github.com/sirupsen/logrus/blob/master/CHANGELOG.md).

[2018-08-14 17:50] ckawasaki-isp commented on #142
+1

[2018-08-16 09:10] githubvip1207 commented on #63
4 year open-issues ~~~

[2018-08-17 05:28] Jing-Li commented on #63
+1, any update here?  I check the solutions in the comments. I want to get the official answer about the hook, is there some other concern? Like performance issues?

[2018-08-17 05:37] andytsnowden commented on #63
@Jing-Li I've been using the solution posted here: https://github.com/sirupsen/logrus/issues/63#issuecomment-365334562 in production for about 6 months now and haven't really had any issues at all.  In my use-case we emit about 10m lines of logging daily and I really haven't seen logging be a "slow" point.

[2018-08-20 07:45] vinerr opened #803 "Is there a planned roadmap for performance to catch up with uber-go/zap?"
I am looking forward to it

[2018-08-20 09:31] MOZGIII opened #804 "Add canonical import path"
Hello, I'm stumbling upon case issues from time to time, and I'd propose adding a canonical import path to the repo to solve this issue one and for all.

The problem is that the import path can be used with both `github.com/sirupsen/logrus` and `github.com/Sirupsen/logrus`, and for some reason it's not clear which should be used (as various packages importing logrus make their own choices about it

[2018-08-21 02:31] liwei00wade opened #805 "how to filter module log ?"

[2018-08-21 03:07] qinst64 commented on #172
`log.Formatter=` and `log.Out=`  throw errors for me, instead I use:
[code]

[2018-08-21 07:16] dgsb commented on #799
For the record here is the documentation page which describes the redirect upon repository transfer: https://help.github.com/articles/about-repository-transfers/

[2018-08-21 09:53] dongkui0712 opened #806 "report a fatal scene in High concurrency"
[code]

[2018-08-21 09:57] #806 closed

[2018-08-21 20:44] haeky opened #807 "Logging in hooks creates a deadlock"
**GoVersion**: 1.10
**Version**: 1.0.7

How do you create a log from the same level in a hook?

The example below seems to create a deadlock.

#### main.go
[code]

#### hook.go
[code]

[2018-08-23 12:00] virmundi commented on #761
I know this would make the code a bit more verbose, but it should improve performance. This way strings wouldn't be copied when passed as arguments.

[2018-08-23 14:03] thsnr opened #809 "Use syslog hook in example_hook_test.go"
Currently `example_hook_test.go` uses `gopkg.in/gemnasium/logrus-airbrake-hook.v2` to demonstrate using hooks. This is a very heavy import and with the introduction of Go modules will propagate to all projects using logrus.

For example, if I set logrus as a dependency to my Go module and run `go build` then the following build dependencies are added to my requirements:
[code]

However, when runni

[2018-08-23 22:00] lhauspie commented on #761
I don't realy understand your concerne (or I maybe missunderstand what you wanna mean).

If the function is reduced to only `return logger.level() >= DebugLevel`, the golang compiler will inline it. So there will be no strings passed by copy as argument.

Furthermore, if we take the `IsDebugEnabled()` as an example, this one will be:
[code]
So there will be no argument to pass.

[2018-08-23 22:07] virmundi commented on #761
My comments are in regard to your general request. I’m adding another benefit.

Log.Debug(“hello, world”) will create a copy of the string in order to cast the string to an interface. If the debug is not allowed, the cost to create is still paid.

I’m on my phone, so the code is more pseudo. The idea is sound.

If Log.IsDebugEnabled() {
 Log.Debug(“hello, world”)
}

Incurse only the cost of the ch

[2018-08-23 22:15] lhauspie commented on #761
Oh okay, so I just missunderstood your comment... My bad ;)

You're right, it's another benefit.

Thanks for your support.

[2018-08-24 16:06] illenial commented on #487
Look for fmt.Sprintf

[2018-08-25 19:30] dgsb commented on #807
The mutex is used to protect the entry from concurrent access. What are you trying to achieve ? A solution would to perform this log in another goroutine, another would be to use another logger instance. The current implementation does not allow to very easily add a per Entry mutex.

[2018-08-26 09:06] #167 closed

[2018-08-28 15:32] mkorolyov commented on #615
@sirupsen Hey, could you pls take a look?

[2018-08-30 20:45] MrJoy opened #813 "Allow testing of calls to `Fatal*`"
If you were to add an `ExitFunc func(int)` field to the `Logger` struct, with a default implementation of `func(int code) { os.Exit(code) }`, it would become much easier to test code that calls `Fatal*`, by simply substituting the implementation with `func(int code) { panic(...) }` -- without having to resort to sub-process shenanigans that are complicated to implement and don't play well with `-c

[2018-08-31 04:53] dgsb commented on #813
That would be indeed very useful, such a PR would be very welcome.

[2018-08-31 04:56] dgsb commented on #777
Fixed by #798

[2018-08-31 04:56] #777 closed

[2018-09-01 10:11] pdrum commented on #553
This thread fixed my problem https://github.com/Masterminds/glide/issues/210

[2018-09-01 17:29] dgsb commented on #615
Hello you have 2 PRs concerning this issue #742 and #623.
Which one shoudl I look at ?

[2018-09-01 19:26] dgsb opened #814 "Add module definition for logrus"
go 1.11 has introduced the new concept of module used to ease the package versioning and dependency management: https://golang.org/doc/go1.11#modules
To ease our users in integrating logrus into their project, we should provide a module definition for logrus.

[2018-09-01 19:26] dgsb opened #815 "Branch management for 2.0"
We are regularly receiving incompatible changes with the 1.x versions.
In order to be able to incorporate those changes, we should dedicate a specific branch to allow further development without breaking existing contracts (e.g.,  2.0).

As it seems that mostly everyone uses master as is as 1.x compatible version, we are stuck with master being used for the v1. wdyt ?

[2018-09-01 19:29] dgsb commented on #615
Ok it seems it is #742

[2018-09-02 14:52] sirupsen commented on #815
Please keep master fully backwards compatible with no exceptions. It's far too relied upon that I want to compromise the trust of the community. I am conflicted on how to proceed for the future, safely.

[2018-09-02 15:02] sirupsen commented on #799
Sorry for the silence here. I am extremely committed to get this into your capable hands, I just want to ensure we don't break anything. I wouldn't create a new repo if we can transfer it with a redirect, it seems good to me. I don't want to create another `logrusgate`-type thing. I am happy to completely step back once we decide on the best transition.

I agree that today, most are using modern v

[2018-09-02 16:52] dgsb commented on #815
Indeed, that was what I was talking about. As the master branch is used in most project as the next version branch, we could also to avoid any fogginess freeze the master branch and use a dedicated v1 branch and create when wanted a v2 branch.

[2018-09-02 16:56] dgsb commented on #799
As we receive some backward incompatible pr from time to time, I've created this issue #815 in order to reach consensus.

[2018-09-03 01:11] liwei00wade commented on #805
I want to just filter one  package log

[2018-09-03 10:39] sirupsen commented on #815
I think that's the way to go David.

By the way, thanks for all your stewardship here <img src="https://user-images.githubusercontent.com/97400/40184594-a4bc083a-59be-11e8-958d-20988af7f1ab.png" width="22" />

[2018-09-03 10:40] sirupsen commented on #799
To me, that's the key decision here. If we can agree on that structure, I see no issue making this handle permanently a redirect and update the README with the new governance and repository structure.

[2018-09-05 09:55] lanmingle commented on #142
+1

[2018-09-05 16:06] theckman commented on #799
@sirupsen no worries; GopherCon prep had me busy as well. There is one case[1] I know of where a simple repository migration won't work, but I've confirmed logrus doesn't fall in to that bucket.

In having some discussions with people in Denver around this effort, I think there's value in doing some small experiments with migrating a repository of mine to the organization to re-validate my earlier

[2018-09-05 16:14] theckman commented on #815
Agreed on wanting to keep things as stable as possible. We will want to make sure Go modules works correctly in the propsoed scenario.

A question this brings up in my mind is at what point do people expect v2.0 to be the default and `master` being v1.0 starts to become a problem? I've not personally run in to other repos that do this, so logrus would be totally undoing assumptions I've been able

[2018-09-06 08:49] messias72 commented on #768
Or if you want to use logrus try this: github.com/interactive-solutions/go-logrus-elasticsearch

[2018-09-06 12:57] dgodd commented on #815
I noticed this thread after open a PR to add go module support (https://github.com/sirupsen/logrus/pull/817). I believe that the current thinking for go modules and v2 versions is to create a directory `v2` inside the repository (rather than a branch). However given how much flux there is with go modules, I may be out of date with this statement.

[2018-09-06 20:16] dgsb commented on #815
@dgodd from what I understand from this page https://github.com/golang/go/wiki/Modules we don't need to move code in a subdirectory when using go module. This is only need to import such path when NOT using go modules.

[2018-09-06 23:28] sbuzonas commented on #799
Much of that can be mitigated by making a version branch like 2.x and updating the repository HEAD to point to the latest version branch.

[2018-09-08 15:15] aarongreenlee commented on #815
I suggest creating a new branch. Until Go Modules stabilize  I hesitate to adopt it within the `master` branch.

[2018-09-09 16:42] #814 closed

[2018-09-10 15:40] Pokerkoffer commented on #609
any updates on this? Fields in the log would be awesome and restores a lot of context, especially with larger structs

[2018-09-10 20:35] dgsb commented on #142
It's not quite if it is up to a common library to force its configuration file format to a given application

[2018-09-12 05:27] dgsb commented on #768
You can find a list of hooks which are usable with logrus. There is one to send data to ElasticSearch.
https://github.com/sirupsen/logrus/wiki/Hooks

[2018-09-12 05:30] dgsb commented on #804
I'm worried such a change would break currently working build configuration for some users. I'm not sure either if it's still relevant with the introduction of modules which are going their way.

[2018-09-12 11:53] MOZGIII commented on #804
I really don't like this being a wontfix, given the fix is really easy and cheap to deliver.

Existing code won't break, because it's either vendored, or controlled in some other kind of fashion - and people would have to explicitly update to get the canonical import path - or it's not locked, and that means it's ok if canonical import path is added, as it was deployed as long ago as at Go 1.4 and

[2018-09-13 03:52] andrewsav-datacom opened #820 "Support colors on Windows 10"
I'm confused with the state of this issue. There are a couple of closed issue [here](https://github.com/sirupsen/logrus/issues/496) and [here](https://github.com/sirupsen/logrus/issues/172).

They discuss resolving the issue then reversing the change, and then fixing it again?

Anyway it does not seem to be working for me:
![2018-09-13_15-51-37](https://user-images.githubusercontent.com/27190911/4

[2018-09-13 10:26] kickbox opened #821 "log.withFields returns empty field values when used globally"
I am trying to log certain global fields in all my logs. These fields are declared globally and set at different times in my program.

However the output values are always empty for these fields. I am new to golang. Please guide, sorry if I have missed something basic here...

[code]

[2018-09-15 05:03] patrick-motard commented on #8
@sirupsen was this functionality removed? I don't see the documentation added in that PR in master anymore. I would like to pass a logger between packages that doesn't require wrapping logrus in my own logger.

[2018-09-15 21:58] theckman commented on #799
It took a little longer than I anticipated to get the one outstanding PR merged, but I've done the migration now. The original project was hosted at https://github.com/theckman/go-flock. I then migrated it to the `gofrs` organization, and it became https://github.com/gofrs/go-flock. I then renamed it from `go-flock` to `flock`, so now it's at https://github.com/gofrs/flock.

GitHub has set up redi

[2018-09-16 06:41] dgsb commented on #8
Hello @patrick-motard, we do still have a default logger in the logrus package. You can refer to the api documentation [here](https://godoc.org/github.com/sirupsen/logrus) or through the go doc command line tool.

[2018-09-16 06:48] dgsb commented on #821
This is an expected behaviour, you are creating the entry while the value of your global variable is set to 0. Any further change to the global variable won't be reflected in your traces.

[2018-09-16 07:06] dgsb commented on #820
Hello, we do have a pending pr #741 for this issue, but I have no way to test if it works as intended. Can you checj after I've merged that it works as intended ?

[2018-09-16 07:34] AndrewSav commented on #820
@dgsb I can try but it also can take a little while. Thanks.

[2018-09-16 08:32] AndrewSav commented on #820
@dbs5 for the test case above the changes has worked on windows 10. I'll try to test on windows 7 as well and will let you know.

[2018-09-16 08:33] #820 closed

[2018-09-16 08:41] AndrewSav commented on #820
@dgsb It does not work on Windows 7 though. Sorry.

[2018-09-16 09:36] dgsb commented on #679
If someone could add these examples in the wiki or in the readme, that would be great.

[2018-09-16 11:39] dgsb commented on #757
v1.0.6 has been released and contains the required feature

[2018-09-16 11:39] #757 closed

[2018-09-16 12:30] dgsb commented on #804
Hello @MOZGIII adding this feature may break any code currently importing the master branch in a different path than the one we would specify in the canonical import path.
Sure the fix is cheap, imho the added value is also low, but we have some risk to break some user build.
If we choose to implement that, we can not release it in a v1 version as it is not expected that an upgrade of a same major

[2018-09-16 12:35] dgsb commented on #815
@aarongreenlee module definition has already been added to the mastre branch. It should not have any  impact in the build process of package stored in $GOPATH/src, but can already be used by anyone else.
I think its important for a package as much used as logrus to quickly provide its modules definition in order to help other including package to also adopt/experiment with modules.

[2018-09-16 12:42] dgsb commented on #815
@sirupsen, if you agree with the naming, I'm going to create `release-v1` and `release-v2` branches. I think only you has the rights to then perform the following options:
* define release-v1 as the default target branch for pull request
* potentially forbid merge request on master branch
* if you could also lock 1-0-stable as it seems to have never have been used

[2018-09-16 12:48] dgsb commented on #759
@David-hod did you solve your issue ? Can we close this one ?

[2018-09-16 12:59] dgsb commented on #746
The referenced pr has been already merged.

[2018-09-16 12:59] #746 closed

[2018-09-16 13:08] dgsb commented on #745
Indeed, if you use the same entry logger in a hook, you will have a deadlock as the logger mutex is taken again. This is needed and works as intended to protect entries against access races on the data field. Here you can have 3 options:
* if you are sure you do not need mutex on your logger because you are using it a single go routine, you can use the SetNoLock() call on the logger to not lock th

[2018-09-16 13:12] dgsb commented on #731
Indeed this is quite easy to discard all traces this way, I don't think we need this added constructor

[2018-09-16 13:12] #731 closed

[2018-09-16 13:15] #715 closed

[2018-09-16 13:16] #701 closed

[2018-09-16 13:31] dgsb commented on #650
Link added in the [Hooks](https://github.com/sirupsen/logrus/wiki/Hooks) wiki page

[2018-09-16 13:31] #650 closed

[2018-09-16 13:34] dgsb commented on #518
@harshitdx29 there should not that much difference beside the colored output. Can you elaborate a little more, as what did you see in the file and what did you expect to see ?

[2018-09-16 13:37] dgsb commented on #295
Fixed in #695

[2018-09-16 13:42] #295 closed

[2018-09-16 13:48] dgsb commented on #112
This issue has been pretty inactive since several years. If some cross-compiling issue accurs again, I suggest create a dedicated issue for the specific os/arch tuple.

[2018-09-16 13:48] #112 closed

[2018-09-16 14:04] dgsb commented on #622
duplicate of #441

[2018-09-16 14:04] #622 closed

[2018-09-16 14:07] kickbox commented on #821
Thank you for the response. Is there a way to achieve this? I would like to print current values of a fixed set of variables in all my logs.

[2018-09-17 04:48] dgsb commented on #142
There are already external package which allows to configure logrus through a configuration file:
* https://github.com/heirko/go-contrib/tree/master/logrusHelper
* https://github.com/gogap/logrus_mate

[2018-09-18 09:54] a-h opened #824 "Building for Windows fails on MacOS and Linux without additional go get"
With the latest version of logrus, my cross-platform (Linux to Windows) build has stopped working.

Steps to reproduce:

* Write some software which uses logrus.
* Compile on MacOS and Linux with `go get ./...` then `go build` - works fine.
* Try `GOOS=windows go build`

Fails with `cannot find package "github.com/konsorten/go-windows-terminal-sequences"`.

Steps to workaround:

* Run `GOOS=window

[2018-09-18 09:55] a-h commented on #824
This was changed in https://github.com/sirupsen/logrus/pull/822

[2018-09-18 10:11] a-h commented on #768
Another approach is to log to stdout or a file and use a standalone log collector to forward the logs on.

Logstash is commonly used with ElasticSearch, or you could use https://github.com/agnivade/funnel or many other tools.

[2018-09-18 18:51] dgsb commented on #824
Hello @a-h , that is unfortunate that this change broke your build. But I don't think you can expect that a go get ./... can retrieve all needed dependencies for all architectures. I think you workaround is exactly what should be done. What would you like we do to fix that ?

[2018-09-18 18:54] dgsb commented on #768
@wjzhangcsu did you try the logstash hook mentioned in the hooks page ?

[2018-09-18 18:58] dgsb commented on #821
you can register a hook which can then add dyncamilly the current value of global variable as field of the entry.

[2018-09-18 18:59] dgsb commented on #745
@gabiganam did you succeed to resolve your deadlock issue ?

[2018-09-19 05:14] maeglindeveloper commented on #770
@dgsb : Is this feature already in dev, will it be release soon ? :)
Thanks in advance ! 👍

[2018-09-19 10:58] kickbox commented on #821
Thanks. I am not sure how to do that yet. Will try to figure this out...

[2018-09-19 11:37] dgsb commented on #824
konsorten/go-windows-terminal-sequences#1

[2018-09-19 11:53] dgsb commented on #824
@a-h can you try if the build works for you in module mode ?

[2018-09-19 12:00] dgsb commented on #736
The usual way to gather traces together is to use a field with a unique identifier for a given request.

[2018-09-19 21:18] d4z3x opened #826 "Change fieldname"
Can anyone help me change the field name of time to timestamp for easier ingestion into Splunk?

[2018-09-19 22:59] d4z3x commented on #826
Nevermind. I figured it out.

[code]

[2018-09-19 22:59] #826 closed

[2018-09-20 05:09] dgsb commented on #773
No feedback, closing this issue as #770 is expected to meet the needs.

[2018-09-20 05:09] #773 closed

[2018-09-20 07:53] mildred commented on #773
I didn't see the first message, but yes, prefix order answers completely the use case.

There is one catch though, logrus is marketed as [API compatible with the standard library logger](https://github.com/sirupsen/logrus/blob/master/README.md#logrus-) and the lack of prefix function makes it incompatible. It surprised me the first time because I assumed it was completely compatible.

[2018-09-20 08:44] gabiganam commented on #745
Yes, I just logged in a new go routine; i.e. replaced this line:
logger.Errorf("reportPoints failed: %s", err)
with this line:
go logger.Errorf("reportPoints failed: %s", err) // New goroutine

Seems to be working fine now.
Thank you!

[2018-09-20 08:55] skaldesh commented on #736
@dgsb that would work, but I would like it more if I look into my log file and find all the traces in one consecutive block to avoid jumping around in the logfile.
Furthermore, this would make it possible to improve performance, since one would delay the writing of logs until the very moment the whole batch should be written. This is likely a place where a request has been handled, or an error occ

[2018-09-20 12:29] #745 closed

[2018-09-20 14:42] dgsb commented on #479
closing, no feedback from op.

[2018-09-20 14:42] #479 closed

[2018-09-21 09:14] lvhuat opened #827 "[suggestion] Logrus Object! maybe any function like this."
First, apologize for my poor english.

When the code is below:
[code]
Build&Run, and it output:
[code]

So i must rewrite my code:
[code]

What if the code writed like below to get same output:
[code]

Or maybe writed like this:
[code]

[2018-09-21 16:37] dgsb commented on #736
There are no one size fits all, solution regarding log ordering. this is what structured logging is about, it allows to perform clever filtering/sorting based on the contents of fields.
I'm kind of reluctant to add a new API just to solve a too narrow use case.

[2018-09-22 09:58] andig opened #828 "How to use as drop-in replacement for log.Logger"
I'm trying to inject a logrus logger into a client library that expects a `log.Logger`:

	logger := log.StandardLogger()
	rtuclient.Logger = (*stdlog.Logger)(logger)

all my attempts sofar have failed:

    cannot convert logger (type *logrus.Logger) to type *log.Logger

Any idea how this can be achieved?

[2018-09-22 12:26] dgsb commented on #828
Hello @andig you can not merely cast a logrus logger into a standard lib one. As you've seen, that will
not compile.
Your client library must accept an interface instead of a type as parameter.

[2018-09-23 19:08] dgsb commented on #828
Hi @andig, that the correct way to do it.

[2018-09-24 16:32] bm0 commented on #827
Hello, @lvhuat!
Have you thought about how to handle nested structures?
I think that you can write a wrapper that gets a type, processes it through reflection, and returns an object called ```logrus.Fields```, which you can use further.

[2018-09-24 18:59] dgsb commented on #765
#677 has been merged

[2018-09-24 18:59] #765 closed

[2018-09-24 19:18] rbcrwd opened #829 "Asynchronous thread output"
I'll preface this by offering that I may be approaching this problem completely wrong.

When using logrus in goroutines, we lose log output on short-lived applications despite syncing on them and waiting for them to exit. Consider the following example:

[code]

Most of the time this code produces two log entries; on rare occasions it will produce 12. Uncommenting the call to time.Sleep() reliably

[2018-09-24 19:29] rbcrwd commented on #829
Note: it's worth pointing out that the `time.Sleep` call needn't nearly be that long. Somewhere between 100µs and 500µs on my particular hardware is all it takes to get all expected values

I should also acknowledge that `i` does not do what it would seem to here. That may be because logrus is using a channel under the covers.

[2018-09-24 20:04] rbcrwd commented on #829
I just realized where the bug is, and it's between keyboard and chair.

[2018-09-24 20:04] #829 closed

[2018-09-24 20:09] dgsb commented on #829
You have moved the wd.Add outside of the go routine ?

[2018-09-24 20:18] rbcrwd commented on #829
That is correct, my apologies for making extra noise for you.

[2018-09-25 11:52] #770 closed

[2018-09-25 11:52] dgsb commented on #770
@maeglindeveloper it has just been merged

[2018-09-25 12:05] maeglindeveloper commented on #770
@dgsb perfect, will give it a try right now! thanks for your amazing work ;)

[2018-09-25 13:03] a-h commented on #824
OK, so to test this, I did the following. Installed Go 1.11 on a Mac and started a new project in a directory under the desktop. I deleted the `~/go/pkg/mod` directory to ensure that no modules were cached.

I created a `go.mod` file:

[code]

Then created a simple "Hello World" main.go:

[code]

Next, I ran `GOOS=windows go build` and the Go system downloaded required modules:

[code]

`GOOS=wind

[2018-09-25 19:41] dgsb commented on #824
@a-h indeed, this dependency was not present in v1.0.6. I've just released v1.1.0, can you try with this one ?

[2018-09-25 19:49] dgsb commented on #807
@haeky did you succeed to overcome your issue ?

[2018-09-25 19:54] dgsb commented on #352
SetOutput has been introduced since this issue has been opened. The usual way for the prefix is to use a dedicated field for it.
The purpose is not to be compatible with the initialization path, but rather for the path where traces are issued.
I suggest we close this issue.

[2018-09-26 15:37] tobyroworth commented on #352
I believe my use case, back when I filed the issue, involved using SetPrefix when issuing logs, rather than during init, and when switching to logrus, this was something I had to rewrite.

This should be unnecessary for a library that claims  to be _"completely API compatible with the standard library logger."_ If certain methods aren't supported, it isn't _completely_ compatible, and this should

[2018-09-27 11:33] dgsb commented on #659
@morriswinkler we have not been very good at doing semver until now, but we are trying to do better. Besides that, this issue is almost one year old with not so many complain. I think we can just move on instead of exporting again an internal constant. wdyt ?

[2018-09-27 11:49] dgsb commented on #805
@liwei00wade does that answer you question ?

[2018-09-27 20:03] kaedys commented on #659
I feel like the cost of re-exporting it is essentially non-existent, no?

[2018-09-30 08:41] dgsb commented on #642
Indeed this is annoying

[2018-09-30 20:58] #642 closed

[2018-10-01 07:47] dgsb commented on #696
@Yugloocamai indeed SetFormatter changes the logger formatter to the one given as parameter with appropriate locking.
You can do that on the global formatter directly with a call to `logrus.SetFormatter` or through the method of the same name applied to the instance you want to change the formatter.
But as you've seen in the documentation, the New function is here by convention as it is expected b

[2018-10-01 07:52] dgsb commented on #719
As you are implementing this formatter outside the logrus package itself, you need to prefix those type by the package name: `logrus.Entry` and `logrus.TextFormatter`

[2018-10-01 07:54] dgsb commented on #763
@wsw70 would you mind to try that again with a more recent version of logrus (v1.1.0) ? We have recently merged some improvement regarding terminal management on windows.

[2018-10-03 18:44] SergeiVasilenko opened #833 "Nicely color-coded logs at Jetbrains GoLand"
I would like to see in my Jetbrains GoLand IDE something like this:
![image](https://user-images.githubusercontent.com/1563512/46431710-d16fb100-c74c-11e8-9135-86d2fdd226cb.png)

But found this one:

[code]

How can I setup properly output in GoLand ?

[2018-10-03 19:11] dgsb commented on #833
Coloring is only performed when the output is identified as being a terminal. You can force the coloring output by setting the field `ForceColors` to true, but that will only work if your ide supports usual terminal escape sequence.

[2018-10-04 00:00] drewwells opened #834 "while testing, redirect output to testing.T"
The testing package has many logging functions that are used for logging only when errors are encountered. It would be beneficial to be able to easily redirect output to this. I can't see a simple way to do this currently besides creating an io.Writer that outputs to testing.Logf.

[2018-10-04 09:18] dgsb commented on #670
@zhangdaoling basically you cannot. The JSONFormatter implementation is based in the encoding/json package from the standard library. This package does not provide any control on the order of json dictionnary key.

[2018-10-04 11:52] caalberts commented on #813
I'd like to give this a try

[2018-10-04 13:08] dgsb commented on #813
Hi @caalberts, your contributions will be welcome.

[2018-10-05 20:32] prymitive opened #836 "v1.1.0 breaks cross-compiling for solaris"
https://travis-ci.com/prymitive/karma/jobs/149295747#L593-L594

[code]

It looks like there were some changes around `terminal_*.go` between 1.0.6 and 1.1.0 that might cause it. What I'm not so sure about is whenever solaris should be covered by `terminal_linux.go` or `terminal_bsd.go`. Also looking at build tags I think [terminal_linux.go](https://github.com/sirupsen/logrus/blob/master/terminal_l

[2018-10-05 23:55] krancour commented on #403
I opened #671 to address this nearly a year ago and it hasn't even been reviewed. This is a real problem with a solution already having been offered... it's frankly ridiculous that this hasn't been taken seriously.

[2018-10-06 10:12] caalberts commented on #813
I raised a PR on this, do let me know if there is any concern.

[2018-10-06 12:53] dgsb commented on #836
That's annoying, the file terminal_linux.go is skipped in the solaris build due to its name containing the linux os name

[2018-10-06 13:44] dgsb commented on #836
I've just merged a fix on master trying to clean up all the build constraints which does not seem make any sense anymore today. Can you check if that fixes you issue ?

[2018-10-06 13:46] prymitive commented on #836
Sure, I'll try cross-compiling locally with master and report back. Thanks

[2018-10-06 19:33] dgsb commented on #836
I'll release a new label soon so that you don't need to depend on an unlock version. I'll keep this issue until this is done.

[2018-10-08 20:32] dgsb commented on #836
@prymitive v1.1.1 has been relased, I'm closing this issue

[2018-10-08 20:32] #836 closed

[2018-10-09 01:53] liwei00wade commented on #805
I am sorry ,I now  see your message.

yes,  thanks a lot.

[2018-10-09 01:54] #805 closed

[2018-10-09 04:34] dgsb commented on #166
Duplicate of #609

[2018-10-09 04:34] #166 closed

[2018-10-09 04:39] dgsb commented on #136
related to #296

[2018-10-09 13:32] a-h commented on #824
@dgsb yes, that works fine in module mode.

I end up with a `go.mod` of:

[code]

[2018-10-11 08:47] a-h commented on #820
I also get control sequences rendered to the console when using PowerShell on Windows Server 2012.

<img width="701" alt="screen shot 2018-10-11 at 09 46 31" src="https://user-images.githubusercontent.com/1029947/46792162-97993e80-cd3a-11e8-9c19-888f59a4f393.png">

[2018-10-11 09:53] AndrewSav commented on #820
@a-h I have a suspicion that if you want this fixed you will be better off opening a new issue, or commenting on an issue that is not closed...

[2018-10-11 11:10] dgsb commented on #820
indeed, please open new issues otherwise it gets very hard to track

[2018-10-11 11:12] dgsb commented on #833
@SergeiVasilenko can we close this issue ?

[2018-10-11 11:13] SergeiVasilenko commented on #833
Yes, it helps

[2018-10-11 13:11] #824 closed

[2018-10-11 14:27] BilouteMaif opened #840 "Unix AIX - Problem to build node_exporter"
We try to build node_exporter v0.15.2 on aix system v7.2.
Prerequisites:
yum (and its dependencies), gcc-go version gccgo go1.10 (GCC) 8.1.0 aix / ppc (and its dependencies) and git version 2.8.1 (and its dependencies).

It failed with this issue:

` [root@samaq024] /data/go/src/github.com/prometheus/node_exporter`
`# /opt/freeware/bin/make`
`>> formatting code`
`>> vetting code`
`# github.com/pro

[2018-10-11 18:05] #833 closed

[2018-10-11 18:46] dgsb commented on #392
@sanpingz can you provide more information ? It's not clear if the issue is specific to the osx platform

[2018-10-12 04:48] dgsb commented on #296
Duplicate of #136

[2018-10-12 04:48] #296 closed

[2018-10-12 04:56] dgsb commented on #840
Actually you probably can set any build constraint from the command line in gccgo.

[2018-10-12 05:00] dgsb commented on #840
Can you test if the branch I've just pushed upstream/fix_aix_build fixes your issue ?

[2018-10-12 11:40] dgsb commented on #489
Normal behaviour, test code is incorrect, closing.

[2018-10-12 11:40] #489 closed

[2018-10-12 11:48] dgsb commented on #364
Could not reproduce anymore, seems fixed.

[2018-10-12 11:48] #364 closed

[2018-10-12 20:35] dgsb commented on #241
has been fixed in 0c03a05a

[2018-10-13 15:52] dgsb commented on #554
@tiziano88 PanicLevel is the lowest trace level and the condition is always true. We can argue whether if it will be true in the future or if the condition is relevant, but basically the code is correct.

[2018-10-13 15:52] #554 closed

[2018-10-13 15:57] dgsb commented on #401
@pasinskim is this issue is still relevant to you, we can not change this behaviour it would have too much impact, and I'm not quite sure this use case is relevant to all users.
But if your traces and the associated hooks are so important maybe the trace itself  is not set at the correct level ?

[2018-10-13 16:02] dgsb commented on #441
@fasaxc it it still matters to you, a PR would be appreciated. We need to be careful about the Fatal and Panic call which imo should still panic and exit when the logger tracelevel is set to this NoneLevel.
There was another issue requested for the same feature but with a MuteLeve, I'm not sure which name is the best though.

[2018-10-13 16:10] dgsb commented on #352
@tobyroworth I guess your usage of the SetPrefix function is rather uncommon. Anyhow, if you provide a PR implementing this call, I would happily merge it.

[2018-10-13 16:17] dgsb commented on #725
@RenathoAzevedo did the previous comments answer your question ?

[2018-10-14 13:46] dgsb commented on #615
I wonder if this is what we really want to do, it will change the return  value of a `recover` call.

[2018-10-15 13:18] fasaxc commented on #441
D'oh, looks like Level is defined as a `uint32` so we can't use `-1`.  Making `NoneLevel == 0` and moving `PanicLevel` to `1` could work but it would be a breaking change :-/

Maybe this desire could be handled with a separate `Logger.SetEnabled(bool)` method?

[2018-10-15 14:51] BilouteMaif commented on #840
Hi david,

Thanks a lot !
We now have other mistakes during the make process.

For information:

When we run a "/opt/freeware/bin/make -i", there is lots of others errors..
As far as you concerned:

Finaly, i'm not sure node_exporter can be build for AIX system.

[2018-10-15 19:28] dgsb commented on #840
@BilouteMaif can you confirm first that the branch builds for aix target and that all tests pass ?
Beyond that we won't be able to fix the issue you face building another project.
We may help if you isolate the specific logrus build command which does not work for aix.

[2018-10-16 07:35] frranck commented on #416
So what's the way to get line/function/filename ?

[2018-10-16 07:38] frranck opened #843 "How to get file/line number ?"
Hello,
Is there an easy way to get file/line number in error ?
Wouldn't anyone need that as a default ?

[2018-10-16 11:42] dgsb commented on #843
duplicate of #63

[2018-10-16 11:43] #843 closed

[2018-10-16 11:43] dgsb commented on #416
duplicate #63

[2018-10-16 11:43] #416 closed

[2018-10-16 11:43] dgsb commented on #63
up

[2018-10-17 05:11] dgsb commented on #441
We can't change the value of the level in a v1 release/branch, it can have too many unexpected behaviour. A boolean would be backward compatible indeed, if the default value can keep the current behaviour.

[2018-10-17 05:16] dgsb commented on #801
How do you retrieve the file name and line number ?  I guess the error is rather located there.

[2018-10-17 05:17] dgsb commented on #801
For your information we do have here a long time pending issue for providing file name and line number directly in logrus #63. We are going to handle this issue soon.

[2018-10-20 05:11] dgsb commented on #629
solved by #844

[2018-10-20 05:11] #629 closed

[2018-10-20 05:13] dgsb commented on #663
Resolved by #844

[2018-10-20 05:13] #663 closed

[2018-10-20 20:08] dgsb commented on #834
Hi @drewwells, I've you tried somehow to set the logger.Out field to os.Stdout instead of os.Stderr ? I wonder if the test environment doesn't do something Stdout in order to only have its output upon test failure.

[2018-10-21 08:49] dgsb commented on #468
@Kegsay do you still reproduce this issue. I suspect this should be fixed now as we are protecting the entry by a mutex

[2018-10-21 09:29] dgsb commented on #703
Fixed by #702

[2018-10-21 09:29] #703 closed

[2018-10-21 09:31] dgsb commented on #497
@ghost indeed levels are levels not bitmask. Can we close this issue ?

[2018-10-21 09:34] dgsb commented on #522
@sargun are you talking about the same thing that #408 ?  Or is it something specific to the Fatal level which does not behave as expected ?

[2018-10-21 09:34] dgsb commented on #408
up

[2018-10-21 13:39] totemcaf commented on #659
https://github.com/FactomProject/logrustash/releases/tag/0.7.0 is also broken.

[2018-10-25 07:37] morriswinkler commented on #659
@dgsb look in 3 days I will have posted that issue one year ago, and since it is still going on. I will give you my 30 cents of personal opinion on the issue.

I personally don't really care if this constant is gone or not, I think golang developers should keep in mind that the original package design strategy was to build stable API's and keep them backward compatible. While the community has mov

[2018-10-25 07:42] shahofblah commented on #803
Has [this](https://www.reddit.com/r/golang/comments/6irpt1/is_there_a_golang_logging_library_around_that/dj97phi/) been fixed?

I see 2 solutions here

1. Writer contention should be the only thing restricting concurrent access
2. Instead of a JSON marshal happening for every line of log, maybe a string formatting can be done instead? This is easy if the log object is only 1 level deep.

Another q

[2018-10-28 22:02] rfay commented on #63
Yay, but please do provide instructions here (or in docs) on how #850 gives us file and line number. It's certainly not apparent from a quick view.

[2018-10-28 22:19] miguelmota commented on #63
Here's how to have logrus log the filename and line number with the latest release. Basically just add `log.SetReportCaller(true)` when initializing.

Example:

[code]

Output:

[code]

[2018-10-29 04:01] shousper opened #852 "[bug] panic is TextFormatter when Caller is nil"
Found myself with this stack:

[code]

When using the `TextFormatter`. It looks like [this line](https://github.com/sirupsen/logrus/blob/master/text_formatter.go#L177) and maybe [this line](https://github.com/sirupsen/logrus/blob/master/text_formatter.go#L179) might need to check the `Caller` is present first? Perhaps using [HasCaller](https://github.com/sirupsen/logrus/blob/master/entry.go#L175)?

[2018-10-29 06:06] dgsb commented on #852
@shousper thanks for reporting this issue. It's weird because this case should be protected there https://github.com/sirupsen/logrus/blob/251d6bf71382da18d56ae619e48a8404728b40b0/text_formatter.go#L128
Can you provide a test case to reproduce this issue ?

[2018-10-29 21:32] loren-osborn opened #853 "Please add `gh-pages` branch"
Could you please create an empty `gh-pages` branch as target for documentation pull-requests with something like:

[code]

I'd ideally like to see the output of `godoc` (and possibly a code-coverage report) end up in that branch.

[2018-10-29 22:20] freman commented on #852
not what I meant when I said I wanted us to context components

[2018-10-30 05:52] dgsb commented on #852
Hello @shouspe,r, thanks for your test case, but I do not reproduce the issue whether the report caller is enabled or not.
Can you provide which version you are on ?

[2018-10-30 06:07] dgsb commented on #840
@BilouteMaif can you provide some feedback on the proposed fix ?

[2018-10-30 06:09] dgsb commented on #63
@rfay the pull request contains a change in the readme which describes how to enable this feature.

[2018-10-30 06:10] #659 closed

[2018-10-30 06:14] dgsb commented on #803
No this has not been fixed because it has not been reported yet as an issue here.
We may create a dedicated performance project to check how to catch up with other logging library.
However, I suspect this is going to be hard without any massive interface change.
Regarding the JSON marshalling, there is another Formatter which just output text based on sprintf formatting.

[2018-10-30 06:16] dgsb commented on #497
Logrus levels are indeed levels not bitmask, there is no way to easily to do that.

[2018-10-30 06:16] #497 closed

[2018-10-30 08:10] eschao commented on #852
@dgsb I meet the same problem with the latest logrus. And the same error and same line code is broken.

[2018-10-30 13:03] lchanouha commented on #852
I got same issue since i upgraded to go1.11, but only when my app is launched via systemd (syslog output).
Launching it directly with stdout works fine.

[2018-10-30 13:20] lchanouha commented on #852
Reverting to tags/v1.1.1 works for me (master branch broken on go 1.9+).

[2018-10-30 21:15] dgsb commented on #852
I've still not been able to reproduce the issue on my environment.
Can someone can provide a PR with a unit test which would exhibit the issue on travis CI ?

[2018-10-30 22:30] lchanouha commented on #852
Found the issue. Field "file" is now a special field (since commit 251d6bf71382da18d56ae619e48a8404728b40b0 ?)

This code:
[code]

successfully work with
$ go build && ./test

but fail with
$ go build && nohup ./test

[2018-10-31 02:03] penhauer-xiao commented on #803
@dgsb Great ！

[2018-10-31 05:47] dgsb commented on #852
Ok, I've reproduced the issue. It's related to the output coloring disabled on the text formatter. I will have a look at asap.

[2018-10-31 06:17] #852 closed

[2018-10-31 06:18] dgsb commented on #821
@kickbox does that help ? Can we close this issue ?

[2018-11-01 01:52] kickbox commented on #821
@dgsb  thank you so much for this, I have not tested it yet. But I think this will be useful and will incorporate when I refactor.

[2018-11-01 01:52] #821 closed

[2018-11-02 14:05] dgsb commented on #853
In go ecosystem we already have godoc. It is a well known place where packages documentation is centralized.

[2018-11-02 18:50] loren-osborn commented on #853
Perhaps this is more of a CI/CD discussion, but my concern was ability to easily review godoc (tool) output before the resulting changes got merged into `master`. Similarly, i’d Like to be able to review changes in code coverage before they get merged into `master`. For released versions, I agree that https://godoc.org/github.com/sirupsen/logrus is the best place for that.

[2018-11-02 19:45] mlsquires opened #856 "Get an Entry from a logger?"
I'm importing logrus via 'log "github.com/sirupsen/logrus"' so I can just refer to "log" anywhere in my code. I set some configuration options (e.g., level, formatter) initially and that does the trick for me. I haven't needed to create a custom logger.

I'm migrating my logging from formatted text to field-based logging. I can use log.WithFields and that works well.

What I'd like to do is create

[2018-11-03 06:43] dgsb commented on #856
Instead of using an Entry type has parameter, you could use an interface which holds the needed operations.
The package provides such interface:
`logrus.FieldLogger` or `logrus.Ext1FieldLogger` if you need the new Trace level.

[2018-11-03 07:04] #63 closed

[2018-11-03 07:04] dgsb commented on #63
This feature is contained in v1.2.0

[2018-11-04 18:15] gguridi commented on #827
An example of how to achieve this with one function, that transforms any struct into logrus Fields using the json tags. It has its downsides, but I think they are minimal. It's explained in [686](https://github.com/sirupsen/logrus/issues/686#issuecomment-376582629)

[2018-11-04 18:32] gguridi commented on #790
The lfshook hook is the way to go. If you don't want console output you can add `log.Out = ioutil.Discard` to your global logger.

Logging systems are by design not able to enable/disable logging handlers on runtime. That's why logrus doesn't allow to remove hooks. So once your application has started whatever has been configured will stay. For that, the lfshook I think it's enough to manage two f

[2018-11-04 18:41] gguridi commented on #732
I think logrus implements it's own logging levels as many other systems (log4j, etc.). These levels go from Debug to Error. However, golang log interface implements its own two "special" log types [Fatal](https://golang.org/pkg/log/#Fatal) and [Panic](https://golang.org/pkg/log/#Panic).

To avoid problems integrating both of them, logrus implemented those two levels, but I don't think that my prev

[2018-11-05 09:01] quentinlesceller commented on #790
Thanks for the answer @gguridi. I managed to do it several months ago with `lfshook` but it took me several hours. Closing then.

[2018-11-05 09:01] #790 closed

[2018-11-05 20:19] deusnefum opened #858 "Error marshalling JSON when Panic() is called and JSONFormatter used"
I'm using JSONFormatter and calling logrus.Panic("panic msg") which gives me this error:

`Failed to obtain reader, Failed to marshal fields to JSON, json: unsupported type: logrus.exitFunc`

If I add a Marshaler interface for logrus.extFunc that just returns "<func pointer>", it works, but this involves modifying logrus vendor code. This seems related to  #835 and #642.

I don't really care about

[2018-11-06 06:01] dgsb commented on #858
Hello @deusnefum, I can't reproduce the issue by just instantiating a logger with a JSONFormatter and calling Panic.
Can you provide a minimum code sample which exhibits the issue ?

[2018-11-06 13:47] deusnefum commented on #858
I was correct that I was missing something and doing something wrong. We have generic crash-recovery code and part of that code adds the error object as a field--I think my answer is to just remove the offending field.

[code]

I'll close the issue, but is there a more generic solution? Anyway to add a JSON marshaller or tell logrus to skip fields it can't marshall?

[2018-11-06 13:48] #858 closed

[2018-11-08 15:13] BilouteMaif commented on #840
Hi david,

Sorry for the delay, i was on vacation.
What do you mean about all tests pass ?
I confirm the branch build for aix helped us for the first issue mentioned above.
However we are still on error with the next step of the compil!
We have not advanced yet

[2018-11-11 11:34] petomalina opened #861 "Override the 'level' field with a different name"
I am currently trying to integrate Logrus with Stackdriver logging and the Fluentd exporter looks good for that, but it could be even simpler (many people don't know that Stackdriver actually uses Fluentd, which is confusing)

This is the solution I came up with:
[code]

The only real difference is, that Stackdriver is able to format any log levels when `severity` is in its input JSON. However, Lo

[2018-11-15 14:31] ceriath opened #862 "Colorized output on windows 7 broken"
When printing output with a TextFormatter to cmd or powershell on windows 7, the control sequences are rendered to the output.

``←[36mINFO←[0m[0000] Replay took: 4.0003ms                         ←[36msource←[0m=Badger``

This was already mentioned in #820 but probably never investigated.

Workaround: Just disable colors with

[code]